<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">Rishikesh+Devprayag+Rajasthan

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">(13 Nights/ 14 Days)</h2>


                                </div>

                                <div class="price-table-summary">
                                    <h4 class="bg-title">DAY 01: Arrive Delhi </h4>
                                    <p>Arrive Delhi airport. After clearing immigration and custom formalities, you will
                                        be meet and greet by our company representative, traditional welcome garlanding.
                                        Transfer to hotel by AC
                                        transport. </p>

                                    <p>Overnight at hotel.</p>

                                    <h4 class="bg-title">DAY 02: DELHI / HARIDWAR</h4>
                                    <p>Morning drive to Haridwar. Upon arrival Transfer to hotel by AC transport. </p>
                                    <p>After lunch visit Har Ki Pauri and Temple. Evening enjoy Aarti ceremony at River
                                        Ganges.</p>

                                    <p>Overnight stay at hotel. </p>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">



                                    <h4 class="bg-title">DAY 03: HARIDWAR / RISHIKESH/ RISHIKESH </h4>
                                    <p>Morning enjoy rafting at River Ganges. Late visit to Rishikesh - a sacred town at
                                        the convergence of rivers Ganges and Chandrabhaga, Rishikesh is a naturally
                                        attractive place at the foothills of
                                        the lower Himalayas in the state of Uttaranchal in India. The importance of this
                                        holy city lies in the fact that
                                        it serves as a gateway to other religiously important centers like Kedarnath,
                                        Gangotri, Badrinath and Yamunotri.
                                    </p>
                                    <p>
                                        After lunch visit ,Later visit Triveni Ghat - in the centre of town is the most
                                        prominent bathing ghat in
                                        Rishikesh. Also visit Bharat Mandir – which is near Triveni Ghat is reputed to
                                        be the oldest temple in
                                        Rishikesh. The newly constructed Ram Jhoola straddles the Ganga at this point.
                                        Lakshmanjhula - which is about 2
                                        kms upstream is the old footbridge called Lakshmanjhula, named after the brother
                                        of Lord Rama.
                                    </p>
                                    <p>
                                        Overnight stay at hotel.</p>

                                    <h4 class="bg-title">DAY 04: HARIDWAR /DEVPRAYAG</h4>
                                    <p>Morning drive to Devprag. Upon arrival check-in at hotel. After lunch visit
                                        Raghunath Temple, Chandrabadani Temple, Suspension Bridges, Kyunkaleshwar
                                        Mahadev Temple, Dashrathshila Temple.
                                    </p>

                                    <p>Overnight stay at hotel. </p>

                                    <h4 class="bg-title">DAY 05: DEVPARYAG/ HARIDWAR/ DELHI </h4>
                                    <p>Morning drive back to Delhi via Haridwar. Upon arrival check – in at hotel.
                                        Evening
                                        free for rest. </p>

                                    <p>Overnight stay at hotel. </p>

                                    <h4 class="bg-title">DAY 06: DELHI/VARINDAVAN</h4>
                                    <p>Morning after breakfast, combined city tour of Old and New Delhi. First, we will
                                        be
                                        visiting the famous Jama Masjid mosque with its 9,000 sq. ft. courtyard, three
                                        domes and two minarets. Then
                                        proceed to the massive complex known as the Red Fort (only for photo stop). (Red
                                        Fort is closed on Monday).
                                        Later visit Raj Ghat the crimination ground of Mahatma Gandhi. A Spectacular
                                        structure that’s just 60 years old,
                                        India Gate – the war memorial, photo stop at Presidential Palace and Parliament
                                        House and then proceed via India
                                        Gate – the war memorial, photo stop at Presidential Palace and Parliament House.
                                    </p>

                                    <p>After lunch drive to Varindavan. Upon arrival check-in at hotel. </p>

                                    <h4 class="bg-title">DAY 07: VARIDAVAN/AGRA</h4>
                                    <p>Morning at leisure for visit to Temples. Afternoon drive to Agra. Upon arrival
                                        Check-in at hotel. </p>

                                    <p>Overnight stay at hotel.</p>

                                    <h4 class="bg-title">DAY 08: AGRA/JAIPUR</h4>
                                    <p>Early morning visit Taj Mahal. </p>
                                    <p>The Taj Mahal, the mausoleum built by a sorrowing Shah Jehan in memory of his
                                        young
                                        wife, Mumtaz Mahal. The Building's stupendous scale, flawless symmetry,
                                        translucent white marble and shimmering
                                        reflection in the water channel are truly breathtaking. (Taj Mahal is closed on
                                        Friday).</p>
                                    <p>After breakfast visit Agra Fort, Built by Emperor Akbar, the maze of courtyards,
                                        mosques and private chambers of the fort echo the story of the Mughal Empire.
                                        The Moti Masjid and other
                                        magnificent buildings reflect the skill of the ancient Indian architects and
                                        artists. Later visit Marble shops.
                                    </p>

                                    <p>After lunch drive to Jaipur. Upon arrival, check-in at hotel. </p>

                                    <p>Overnight stay at hotel. </p>

                                    <h4 class="bg-title">DAY 09: JAIPUR</h4>
                                    <p>Morning after breakfast, you will visit Amber Fort by Elephant Ride, the former
                                        seat of the Rajput rulers of Jaipur. Like the 18th-century Palace of Winds, the
                                        screened windows of Amber
                                        allowed for the ladies of the court in times gone by to view the processional,
                                        civic activities, and formal
                                        matters of state. Photo Stop at Water Palace. </p>
                                    <p>
                                        Afternoon visit Hawa Mahal or the Palace of winds built in 1799 by Maharaja
                                        Sawai Pratap Singh. Also visit Laxmi
                                        Narayan Temple Etc. Evening visit Johiri Bazaar for shopping.</p>
                                    <p>
                                        Overnight stay at hotel. </p>

                                    <h4 class="bg-title">DAY 10: JAIPUR/JODHPUR</h4>
                                    <p>Morning after breakfast, you will explore the city of Jaipur, founded in the 18th
                                        century. Called the ‘pink city’ many of its buildings are made of pink
                                        sandstone. Visit Jantar Mantar, an
                                        open-air royal observatory with gigantic astronomical instruments, and visit the
                                        City Palace Museum, which
                                        houses the magnificent art collections of the Maharajahs of Jaipur.</p>
                                    <p>
                                        After lunch drive to Jodhpur. Upon arrival, check-in at hotel. </p>
                                    <p>
                                        Dinner &amp; overnight stay at hotel.</p>

                                    <h4 class="bg-title">DAY 11: JODHPUR/UDAIPUR</h4>
                                    <p>Morning after breakfast, visit the Meharangarh Fort, stands a hundred feet in
                                        splendor on a perpendicular cliff, four hundred feet above the sky line of
                                        Jodhpur. Burnished red sand stone,
                                        imposing, invincible and yet with a strange haunting beauty that beckons. Much
                                        has been written about the
                                        Citadel of the Sun, for truly, it is one of the most impressive in all
                                        Rajasthan. So colossal are its
                                        proportions that Rudyard Kipling called it “the work of giants”.
                                    </p>
                                    <p>Also visit Jaswant Thada, an imposing Marble Memorium built in 1899 and the
                                        museum
                                        located in the Umaid Public Gardens. After lunch drive to Udaipur. Enroute visit
                                        Jain temples at Ranakpur. Upon
                                        arrival, check-in at hotel.
                                    </p>
                                    <p>Dinner and overnight at hotel.</p>

                                    <h4 class="bg-title">DAY 12: UDAIPUR</h4>
                                    <p>Morning after breakfast, enjoy city tour of this "Lake City". Udaipur is a cool
                                        oasis in the dry heart of Rajasthan. It is probably the most romantic city in a
                                        state where every city has some
                                        romantic or exotic tale to tell. The huge City Palace, towering over the Lake
                                        Pichola is the largest palace
                                        complex in Rajasthan. Though it is a conglomeration of buildings built by
                                        successive rulers, it anages to retain
                                        a surprising uniformity of design and affords fine views of the lake and the
                                        city from upper terraces. Proceed
                                        on to the Jagdish temple which enshrines a black stone image of Lord Vishnu and
                                        his vehicle - a mighty bird
                                        called Garuda in a brass image. The temple is a very fine example of Indo-Aryan
                                        art. The temple is still in use
                                        and is visited by colourfully dressed pilgrims. Also visit Sahelion Ki Bari –
                                        the spectacular garden displaying
                                        the unique life style of the royal ladies who once lived in the palaces.</p>
                                    <p>Evening take a leisurely cruise in small boats on the serene and beautiful Lake
                                        Pichola. The island palace on the lake called Jagmandir Palace is quite
                                        fascinating. The banks of the lake
                                        provided interesting glimpses of the daily bathing and laundry that takes place
                                        here. Looking across the lake,
                                        with the city and its great palace rising up behind the island palace, is a
                                        scene of rare beauty. You will also
                                        have time to spend in the bustling market that sprawls behind the City Palace
                                        Complex.</p>

                                    <p>Dinner &amp; overnight stay at hotel.</p>

                                    <h4 class="bg-title">DAY 13: UDAIPUR/DELHI by flight </h4>
                                    <p>Morning after breakfast, day at leisure. After lunch transfer to airport to board
                                        flight for Delhi. Upon arrival at Delhi, free for shopping.</p>

                                    <h4 class="bg-title">DAY 14: DEPART DELHI</h4>
                                    <p>Morning after breakfast, transfer to airport to board flight for onward
                                        destination. </p>

                                </div>
                            </div>


                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>