
   <div>
    <div id="siteLoader" class="site-loader">
       <div class="preloader-content">
          <img src="assets/images/loader1.gif" alt="">
       </div>
    </div>
    <div id="page" class="page">
       <!-- ***site header html start*** -->
       <app-header></app-header>
       <main id="content" class="site-main">
          <section class="booking-inner-page">
             <!-- ***Inner Banner html start form here*** -->
             <div class="inner-banner-wrap">
                <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                   <div class="container">
                      <div class="inner-banner-content">
                         <h1 class="page-title">Best of South India
                        </h1>
                      </div>
                   </div>
                </div>
             </div>
             <!-- ***Inner Banner html end here*** -->
             <div class="booking-section">
             
                <div class="container">
                    <div class="row">
                       <div class="col-lg-8 primary right-sidebar">
                        <div class="price-table-summary">
                            <h2 class="">20 Nights / 21 Days</h2>
                           
                          
                         </div>
                         <div class="price-table-summary">
                         
                            <h4 class="bg-title" style="font-weight:600">Day 01: ARRIVE TRIVENDRUM/KOVALAM</h4>
                            <p class="">Meeting and assistance on arrival at Trivendrum by our representative.</p>
                            <p class="">Drive to Kovalam. On arrival transfer hotel</p>
                            <p class=""><b>Kovalam</b><br>Conveniently located only 16 km from the city of Thiruvananthapuram, Kovalam is a small but well-developed tourist village on the coast of the southern Indian state of Kerala. This busy little beach town is renowned for its exquisite palm-lined surf beaches including the well-known Lighthouse Beach, which is lined with an array of excellent hotels, restaurants and shops, and features a striped lighthouse at its southern end. The village attracts countless surfers with its thriving surf culture, excellent waves, and popular surf club. Other activities on offer include enjoying wonderfully relaxing Ayurvedic massages, sampling the delicious local seafood, sightseeing in the surrounding area, and indulging in a range of exhilarating water sports.</p>
                            <p class="">Lunch at hotel.</p>
                            <p class="">Rest of the day at leisure.</p>
                            <p class=""><b><i>Dinner &amp; Overnight stay at hotel. </i></b></p>
                          
                         </div>
                         
                         
                       </div>
                       <div class="col-lg-4">
                          <div class="sidebar">
                             <div class="booking-form-wrap">
                                <div class="booking-form-inner primary-bg">
                                   <h3>BOOKING FORM</h3>
                                   <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent magnis, eius cumque.</p>
                                   <form method="get" class="booking-form">
                                      <p>
                                         <input type="text" name="name" placeholder="Your Name...">
                                      </p>
                                      <p>
                                         <input type="email" name="email" placeholder="Your Email...">
                                      </p>
                                      <p class="width-5">
                                         <label>Checkin Date</label>
                                         <input class="input-date-picker hasDatepicker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly" id="dp1671106666524">
                                      </p>
                                      <p class="width-5">
                                         <label>Checkout Date</label>
                                         <input class="input-date-picker hasDatepicker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly" id="dp1671106666525">
                                      </p>
                                      <p>
                                         <button type="submit" class="outline-btn outline-btn-white">BOOK NOW</button>
                                      </p>
                                   </form>
                                </div>
                             </div>
                            
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 primary right-sidebar">
                         <div class="price-table-summary">
                        
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 02: KOVALAM</h5>
                            
                            <p class=" text-justify">Breakfast at hotel.</p>
                            
                            <p class="">Morning sightseeing excursion of Trivandrum -  Visit Padmanabha Swami Temple &amp; Napier Museum.</p>
                            <p class="">Lunch at a Local Restaurant.</p>
                            <p class="">Evening at leisure. </p>
                            <p class=""><b><i>Dinner &amp; Overnight stay at hotel.</i></b></p>
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 03: KOVALAM/KANYAKUMARI/KOVALAM</h5>
                            
                            <p class=" text-justify">Breakfast at hotel.</p>
                            
                            <p class="">Morning drive to Kanyakumari (90 kms / 02 hrs).</p>
                            <p class=""><b>Kanyakumari</b><br>
                            Possibly amongst one of the most exotic destinations in India, Kanyakumari, is filled with attractions that do not cease to amaze you. You can find temples, churches, religious pillars and statues everywhere to keep you fascinated. The mixed culture of the place is reflected in the art, architecture and even in the local cuisine. If you are a history buff, you can undertake an excursion to the Kumari Amman Temple or to the Vattakottai Fort that stands erect even today. And if you wish to chill out at a seashore, Sanguthurai Beach, Sothavilai Beach amongst plenty others on the coastline are exotic and the perfect place to spend the evening. The wax museum is a different yet equally alluring hotspot for vacationers and is worth a visit.
                            </p>
                            <p class="">Lunch at hotel.</p>
                            <p class="">Back to hotel.</p>
                            <p class=""><b><i>Dinner &amp; Overnight stay at hotel.  </i></b></p>
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 04: KOVALAM/ALLEPPEY</h5>
                            
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Morning drive to Alleppey (159 kms / 04 hrs). </p>
                            <p class=""><b>Alleppey</b><br>
                            Commonly known as Alleppey, the Alappuzha district is a tourist destination of Kerala, with the backwaters being its popular tourist attraction. Tourists often explore this region through various houseboat cruises. This area is also known as the 'Venice of the East' as its a region featuring canals, backwaters, beaches and lagoons.</p>
                            <p class="">On arrival transfer to the houseboat.</p>
                            <p class="">Lunch at Houseboat.</p>
                            <p class="">Cruise along the backwaters of Vembanad Lake.
                            </p>
                            <p class=""><b><i>Dinner &amp; overnight stay at hotel.</i></b></p>
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 05: ALLEPPEY/COCHIN</h5>
                            <p class=" text-justify">Breakfast at houseboat.</p>
                            <p class=" text-justify">Morning transfer to Cochin. (53 Kms/02 hrs)</p>
                            <p class=" text-justify"><b>Cochin</b><br>
                            This attractive city has served as a popular port for over 600 years and is known for its eclectic architecture and its array of religious monuments, museums, galleries, cafes and antique shops. The city stretches across a number of peninsulas and islands, which can be reached by a network of water taxis and bridges. The majority of Kochis visitor highlights can be found on the peninsula of Fort Kochi. These highlights include the St Francis Church, the oldest European-built church in India; and Mattancherry Palace, which dates back to 1557 and contains some exceptional Kerala murals and temple art. 
                            </p>
                            <p class=" text-justify">On Arrival transfer to hotel.</p>
                            <p class=" text-justify">Lunch at local restaurant.</p>
                            <p class=" text-justify">Evening watch Kathakali Show.</p>
                            <p class=" text-justify">Dinner at Local restaurant. 
                            </p>
                            <p class=""><b><i>Overnight stay at hotel.</i></b></p>
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 06: COCHIN </h5>
                            <p class=" text-justify">Morning sightseeing Cochin - visit The Dutch Palace - at Mattancherry, Fort Kochi, Chinese fishing nets &amp; Jewish Synagogue. </p>
                            <p class=" text-justify">Lunch at Local Restaurant.</p>
                            <p class=" text-justify">Evening dinner at Local restaurant.
                            </p>
                            <p class=""><b><i>Dinner &amp; overnight stay at hotel.</i></b></p>
                            
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 07: COCHIN/MUNNAR </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Morning drive to Munnar(127kms / 03 hrs).</p>
                            <p class=" text-justify"><b>Munnar</b><br>
                            Idyllically set at the confluence of three mountain streams, Munnar is a beautiful hill station in the Western Ghats mountain range in India’s Kerala state. The village once served as a popular vacation resort for the British Raj elite who flocked to here to enjoy the pleasant cool climate and the scenic natural surroundings characterized by rolling hills dotted with colonial bungalows, streams, waterfalls and 19th-century tea plantations. The main attraction in the area is the extraordinary Eravikulam National Park, which is famous for its diverse array of wildlife including the endangered mountain goat known as Nilgiri tahr.</p>
                            <p class=" text-justify">On arrival, transfer to the hotel.</p>
                            <p class=" text-justify">Rest day at leisure</p>
                            <p class=""><b><i>Overnight at hotel in Munnar.</i></b></p>
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 08: MUNNAR </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Sightseeing Munnar - Full day enjoy visiting MUNNAR, one of the most popular hill stations in South India is situated at the confluence of three mountain streams - Mudrapuzha, Nallathanni and Kundala. </p>
                            <p class="">Lunch at Local restaurant.</p>
                            <p class="">Day at Leisure</p>
                            <p class=""><b><i>Dinner &amp; overnight stay at hotel.</i></b></p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 09: MUNNAR/THEKKADY </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Morning drive to Thekkady (185 kms / 05 hrs).</p>
                            <p class=""><b>Thekkady</b><br>
                            A tourist attraction in Kerala, Thekkady is a district located at the Periyar National Park. Thekkady comprises of evergreen forests and savanna grass lands. This area is known for its natural spices such as black pepper, cardamom, cinnamon, nutmeg, ginger and clove. Wild life creatures found in this region include elephants, tigers and sambar to name a few.</p>
                            <p class="">On arrival, transfer to Hotel.</p>
                            <p class="">Lunch at Hotel.</p>
                            <p class="">Afternoon enjoy Boat Ride or Nature walk to national park with spice plantation tour </p>
                            <p class="">Dinner &amp; overnight stay at hotel.
                            </p>
                            
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 10: THEKKADY/MADURAI </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class=" text-justify">Drive to Madurai (160 kms/04 hrs)</p>
                            <p class=" text-justify"><b>Madurai</b><br></p>
                            Located in the southern state of Tamil Nadu, Madurai is the oldest existing city on the Indian peninsula, and one of the oldest continuously inhabited cities in the world, with a recorded history spanning more than 2500 years. It is known as the city of temples due to its countless ancient Hindu shrines, including the great Meenakshi-Sundareswar Temple, spread over 6 hectares and featuring a series of 50-metre-high gateway towers that can be seen from afar. The best time to visit Madurai is between October and March, when temperatures are between 20-35 degrees.<p></p>
                            <p class=" text-justify">Visit evening Aarti at Meenakshi Temple.</p>
                            <p></p>
                            <p class="">Dinner &amp; overnight stay at Hotel.</p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 11: MADURAI/TRICHY </h5>
                            <p class=" text-justify">Drive to Trichy(145 kms/04 hrs)</p>
                            <p class=" text-justify"><b>Trichy</b><br>
                            Tiruchirapalli is 325 kms from the State Capital, Chennai. This was called as Trichnopoly during the British Rule. Locals call it as Tiruchi. This city on the banks of River Cauvery, is the Head Quarters of Tiruchi District and fourth largest city of the State. This was the Citadel of the early Chola Rulers, then the Pallavas conquered and ruled it. The struggle of power between Pallava and Pandiya continued and pallavas lost the struggle many times. Finally the Cholas retained the control and ruled it for a long time. When the empire collapsed around 1565, it was the turn of Nayaks , Marathas ,Carnatic Nawabs , French and finally the British. The city, around rock fort, is a fine blend of Tradition, Heritgage and modern environment. Several Churches, Colleges and missions of the 17th Century made people to call it as the Rome of the East.</p>
                            <p class=" text-justify">Evening visit Srirangam Temple, Rock Fort Temple. The first thing that comes to a person's mind, when you mention the word Tiruchi is Rock Fort. The fort has almost become synonymous with the place. This is Tiruchy's most famous landmark situated on an 83 m high rock The most amazing fact about the rock is that it is one of the oldest in the world
                             </p>
                            <p class="">Dinner &amp; overnight stay at Hotel.</p>
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 12: TRICHY / CHIDAMBARAM / PONDICHERRY </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Morning leave for Pondicherry by surface.</p>
                            <p class=""><b>Pondicherry</b><br>
                            Pondicherry - is made up of four entirely separate enclaves along the Indian coast, all of which were colonised by the French in the 18th century. Named after the largest of these enclaves, this union territory has retained a strong European culture that makes it unlike any other place in India. Nowhere is this more evident than in Puducherry district, dubbed the 'French Riviera of the East', where antiquated colonial buildings line the quiet cobbled streets and tree-lined avenues of the old town, and many people still speak French as their first language.</p>
                            <p class="">On the way visit Chidambaram (200 Km/ 5 Hrs) </p>
                            <p class="">Rest of the day at leisure. </p>
                            <p class="">Dinner &amp; overnight stay at Hotel.
                            </p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 13: PONDICHERRY / MAHABALIPURAM </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Drive to Mahabalipuram (70 kms/ 1 hr)</p>
                            <p class=""><b>Mahabalipuram</b><br>
                            The ancient port town of Mammallapuram is a charming tourist hub which has been attracting travellers for centuries. It was known already in Marco Polo's day as the "Seven Pagodas" alluding to the seven tiered towers that once stood on the shore, of which one - the Shore Temple, still stands. The port is famous for its stone carvings, which have World Heritage Site status. Impressive cave temples, monolithic rathas (chariots) and sculpted reliefs built by the Pallavas in the 7th and 8th centuries form this group of monuments. After sightseeing, enjoy an Indian thali meal or chai tea at one of the bustling diners in town.</p>
                            <p class="">On arrival check in hotel.</p>
                            <p class="">Rest of the day at leisure</p>
                            <p class="">Overnight &amp; dinner at Hotel.
                            </p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 14: MAHBALIPURAM/CHENNAI
                             </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Morning sightseeing – visit shore temple.</p>
                            <p class="">Afternoon check out from hotel.</p>
                            <p class="">Proceed for Chennai by surface Rest of the day at Leisure. </p>
                            <p class=""><b>Chennai</b><br>
                            Chennai is Tamil Nadu's coastal capital and one of Indias financial, cultural and tourism hubs. Attractions include the citys beaches, museums, shopping areas and historical sites, particularly the centrally located Kapaleeshwar Temple a historical shrine to the goddess Shiva, featuring gaudily decorative gopurams (towers) covered with colourful carvings and the group of ancient rock-carved temples at Mahabalipuram, a UNESCO World Heritage Site located roughly 60 kilometres from the city centre. Also of interest is the Guindy National Park, which occupies nearly three square kilometres of greenery in the city centre and is home to an array of birds, reptiles and (mainly smallish) mammals.</p>
                            <p class="">Overnight &amp; dinner at Hotel.
                            </p>
                            
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 15: CHENNAI
                             </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class="">Visit Bronze Gallery, Fort Museum, St. Marrys Church, and St. Thom.Cathedral, Marina Beach and Kapileshwar Temple. </p>
                            <p class="">Afternoon excursion to Kancheepuram, popular for its renowned crafted world famous silk sarees, a traditional home industry. </p>
                            <p class="">Overnight &amp; dinner at Hotel.
                            </p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 16: CEHNNAI/MYSORE
                             </h5>
                            <p class=" text-justify">Packed Breakfast from hotel.</p>
                            <p class=" text-justify">In time departure transfer to the Railway Station to connect Train to Mysore.</p>
                            <p class=" text-justify">Dep:  0600 hrs<br>
                            Arr  : 1300 hrs</p>
                            <p class=" text-justify"><b>Mysore</b><br>
                            This hill station, known as the 'Queen of Hills', derives its name from the shrub of the same name that thrives in this region. It began humbly as a shooting lodge constructed by a British military officer, but has developed into a much-loved tourist destination for its fauna, flora and scenic beauty, especially during its cool summers. There are a number of walks and hikes that offer views of the Himalayas and Doon Valley. Routes leading to the Jharipanis Falls and Cloud End Resort are favourites, the latter being a popular honeymoon destination.</p>
                            <p class=" text-justify">Visit Brindavan Garden and Chamundi Hills </p>
                            <p class=" text-justify">Lunch at hotel</p>
                            <p class=" text-justify">Overnight &amp; dinner at Hotel.
                            
                            </p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 17: MYSORE/OOTY
                             </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class=" text-justify">Visit Chamarajendra Art Gallery which has vast collection of painting by renewed artists like Ravi Verma &amp; Nicholas Roerich. Lalitha Mahal Palace and Mysore Palace. </p>
                            <p class=" text-justify">Drive to Ooty (170 kms/05 hrs)</p>
                            <p class=" text-justify"><b>Ooty</b>
                            This is located in the Western Ghats zone at an altitude of 2240 mtrs. It is the headquarters of the Nilgiri District, where the two mountain ranges meet. Udhagamandalam , popularly called as OOTY by the tourist, is the Queen of Hill Stations. Centuries ago this was also called as Oththai-Kal (single stone) Mandu ( Mund is a name of Toda Village ). The British started calling it as Ootacamund. Coffee and Tea Plantations and trees like Conifers, Eucalyptus, Pine and Wattle dot the hill side in Udhagamandalam and its environs. This was the Summer Capital of the Madras Presidency during the British Rule.</p>
                            <p class=" text-justify">Evening free to explore area around. </p>
                            <p class=" text-justify">Overnight &amp; dinner at Hotel.</p>
                            
                            
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 18: OOTY
                             </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class=" text-justify">Full day City tour of Ooty. Visit Rose Garden a must visit site for all nature lovers. </p>
                            <p class=" text-justify">Lunch at hotel</p>
                            <p class=" text-justify">Overnight &amp; dinner at Hotel.
                            
                            </p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 19: OOTY/BANGALORE
                             </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class=" text-justify">Proceed for Bangalore by surface.(297 kms/06 hrs) </p>
                            <p class=" text-justify"><b>Bangalore</b><br>
                            Known as the garden city, Bangalore offers a leafy backdrop from which to explore the bustling streets of Indias third largest city. Cosmopolitan restaurants line wide avenues where foodies can delight in a smorgasbord of south Indian flavours. Tea lovers can indulge in fragrant cups of Chai and a spell of people-watching from any of the tea stalls dotted around the city. A booming IT industry coupled with a city that seeks to preserve its green and colonial heritage has created a modern and sophisticated metropolis. Recently voted the most liveable city in India, Bangalore makes a great base for travelling southern India.</p>
                            <p class=" text-justify">Arrive at Bangalore and transfer to hotel.</p>
                            <p class=" text-justify">Overnight at Hotel.
                            
                            </p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 20: BANGALORE
                             </h5>
                            <p class=" text-justify">Breakfast at hotel.</p>
                            <p class=" text-justify">Proceeds for city tour of Bangalore. Visit Vidhana Soudha the State Legislative and Secretariat House was built in 1956 in the Neo Dravidian Style with granite entirely sourced from the city itself. </p>
                            <p class=" text-justify">Visit Lalbagh Gardens &amp; Bull Temple&amp;Tipu's Palace </p>
                            <p class=" text-justify">Overnight at hotel in BANGALORE.
                            
                            </p>
                            
                            
                            <h5 class=" bg-title" style="font-weight:600">Day 21: DEPARTURE BANGALORE
                             </h5>
                            <p class=" text-justify">Breakfast at hotel Afternoon check out from hotel and transfer to airport for onward destination. 
                            
                            </p>
                            <br>
                            <h2>End of the Tour</h2>
                        </div>
                            
                           
                          </div>
                          
                        
                        
                        
                                    
                                </div>
                   
                   
                 </div>

                 
          </div>
          </section>
       </main>
       <!-- ***site footer html start form here*** -->
       <footer id="colophon" class="site-footer footer-primary">
          <div class="top-footer">
             <div class="container">
                <div class="upper-footer">
                   <div class="row">
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <div class="footer-logo">
                               <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                            </div>
                            <div class="textwidget widget-text">
                               Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium magna conubia at perferendis, pretium, aenean aut ultrices.
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_latest_post widget-post-thumb">
                            <h3 class="widget-title">RECENT POST</h3>
                            <ul>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img21.jpg" alt=""></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img22.jpg" alt=""></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                            </ul>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <h3 class="widget-title">CONTACT US</h3>
                            <div class="textwidget widget-text">
                               <p>Feel free to contact and<br/> reach us !!</p>
                               <ul>
                                  <li>
                                     <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                     </a>
                                  </li>
                                  <li>
                                     <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                     </a>
                                  </li>
                                  <li>
                                     <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                     3146 Koontz, California
                                  </li>
                               </ul>
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget">
                            <h3 class="widget-title">Gallery</h3>
                            <div class="gallery gallery-colum-3">
                               <figure class="gallery-item">
                                  <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img21.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img22.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img23.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img24.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img25.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img26.jpg" alt="">
                                  </a>
                               </figure>
                            </div>
                         </aside>
                      </div>
                   </div>
                </div>
                <div class="lower-footer">
                   <div class="row align-items-center">
                      <div class="col-lg-6">
                         <div class="footer-newsletter">
                            <p>Subscribe our newsletter for more update & news !!</p>
                            <form class="newsletter">
                               <input type="email" name="email" placeholder="Enter Your Email">
                               <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                            </form>
                         </div>
                      </div>
                      <div class="col-lg-6 text-right">
                         <div class="social-icon">
                            <ul>
                               <li>
                                  <a href="https://www.facebook.com/" target="_blank">
                                     <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.twitter.com/" target="_blank">
                                     <i class="fab fa-twitter" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.youtube.com/" target="_blank">
                                     <i class="fab fa-youtube" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.instagram.com/" target="_blank">
                                     <i class="fab fa-instagram" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.linkedin.com/" target="_blank">
                                     <i class="fab fa-linkedin" aria-hidden="true"></i>
                                  </a>
                               </li>
                            </ul>
                         </div>
                         <div class="footer-menu">
                            <ul>
                               <li>
                                  <a href="policy.html">Privacy Policy</a>
                               </li>
                               <li>
                                  <a href="policy.html">Term & Condition</a>
                               </li>
                               <li>
                                  <a href="faq.html">FAQ</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="bottom-footer">
             <div class="container">
                <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
             </div>
          </div>
       </footer>
       <!-- ***site footer html end*** -->
       <a id="backTotop" href="#" class="to-top-icon">
          <i class="fas fa-chevron-up"></i>
       </a>
       <!-- ***custom search field html*** -->
       <div class="header-search-form">
          <div class="container">
             <div class="header-search-container">
                <form class="search-form" role="search" method="get" >
                   <input type="text" name="s" placeholder="Enter your text...">
                </form>
                <a href="#" class="search-close">
                   <i class="fas fa-times"></i>
                </a>
             </div>
          </div>
       </div>
       <!-- ***custom search field html*** -->
       <!-- ***custom top bar offcanvas html*** -->
       <div id="offCanvas" class="offcanvas-container">
          <div class="offcanvas-inner">
             <div class="offcanvas-sidebar">
                <aside class="widget author_widget">
                   <h3 class="widget-title">OUR PROPRIETOR</h3>
                   <div class="widget-content text-center"> 
                      <div class="profile"> 
                         <figure class="avatar"> 
                            <img src="assets/images/img21.jpg" alt=""> 
                         </figure> 
                         <div class="text-content"> 
                            <div class="name-title"> 
                               <h4> James Watson</h4> 
                            </div> 
                            <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p> 
                         </div> 
                         <div class="socialgroup"> 
                            <ul> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li> 
                            </ul> 
                         </div> 
                      </div> 
                   </div>
                </aside>
                <aside class="widget widget_text text-center">
                   <h3 class="widget-title">CONTACT US</h3>
                   <div class="textwidget widget-text">
                      <p>Feel free to contact and<br/> reach us !!</p>
                      <ul>
                         <li>
                            <a href="tel:+01988256203">
                               <i aria-hidden="true" class="icon icon-phone1"></i>
                               +01(988) 256 203
                            </a>
                         </li>
                         <li>
                            <a href="mailtop:info@domain.com">
                               <i aria-hidden="true" class="icon icon-envelope1"></i>
                               info@domain.com
                            </a>
                         </li>
                         <li>
                            <i aria-hidden="true" class="icon icon-map-marker1"></i>
                            3146 Koontz, California
                         </li>
                      </ul>
                   </div>
                </aside>
             </div>
             <a href="#" class="offcanvas-close">
                <i class="fas fa-times"></i>
             </a>
          </div>
          <div class="overlay"></div>
       </div>
       <!-- ***custom top bar offcanvas html*** -->
    </div>


   
 </div>
