<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">Vibrant Rajasthan with Golden Triangle

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">(08 Nights/09 Days)</h2>


                                </div>
                                <h3>Destinations: Delhi –Udaipur –Ranakpur –Udaipur –Jodhpur –Jaipur -Agra – Delhi</h3>


                                <div class="price-table-summary">
                            <h4 class="bg-title">Day 01 : Arrive Delhi</h4>
                            
                            <p>Arrive Delhi Internationalairport and meet our tour representative with Indian
                                Traditional Style. Then transfer you to hotel.</p>
                            <p>Overnight stay at hotel.</p>
                            
                            <h4 class="bg-title">Day 02 : Delhi</h4>
                            <img src="assets/images/vr1.png" alt="" class="img-responsive" style="margin-top:20px; margin-bottom:20px">
                            <p>In the morning after breakfast visit Red fort, Jama Masjid and Raj Ghat- the place
                                where Gandhi ji got cremation, Chandni Chowk and spice market. After this we will take lunch at local restaurant
                                and then visit India Gate, Qutub Minar and Lotus Temple. In the Evening free for leisure.</p>
                            
                            <p>Overnight stay at Hotel.</p>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">



<h4 class="bg-title" >Day 03 : Delhi – Udaipur by flight </h4>
<p >
    In the morning after breakfast visit Humayun Tomb – this is a famous UNESCO world heritage site and protected by
    ASI. You can see there the beautiful Islamic architecture and significance of that place after that we will take
    lunch at local restaurant and transfer to airport for taking the flight for Udaipur. </p>
<p >Arrive at the Udaipur airport, and then transfer to hotel. Take some rest, in the
    evening, enjoy boat ride at Lake Pichola. Come back and overnight stay at hotel. </p>













<h4 class="bg-title" >Day 04 : Udaipur</h4>
<img src="assets/images/vr2.png" alt="" class="img-responsive" style="margin-top:20px; margin-bottom:20px">
<p >
    After a breakfast at hotel, then proceed to city tour visit city palace, Jagdish Temple and Feteh Sagar Lake,
    then come back to hotel for lunch &amp; take some rest, post lunch go for camel ride through the village and
    Aravelli hills. In the evening free for explore the local markets.
</p>
<p >
    Overnight Stay at hotel.</p>

<h4 class="bg-title" >Day 05 : Udaipur – Ranakpur – Jodhpur</h4>
<img src="assets/images/vr3.png" alt="" class="img-responsive" style="margin-top:20px; margin-bottom:20px">
<p >In the morning after breakfast continue our tour towards, Jodhpur via Ranakpur.
    Visit Jain temple, superbly preserved in a near-perfect condition for over 500 years. The most attractive
    features are the 29 halls of the temple, which have 1444 pillars of which no two are like. Then proceed towards
    Jodhpur. After reach Jodhpur visit Jaswant thada, Mandor Garden and in the evening visit Sardar Girdkot market.
</p>
<p >Overnight stay at hotel.</p>

<h4 class="bg-title" >Day 06 : Jodhpur </h4>
<img src="assets/images/vr4.png" alt="" class="img-responsive" style="margin-top:20px; margin-bottom:20px">
<p >
    In the morning after breakfast visit Mehrangarh fort-It was founded by Rao Jodha in 1459.it is one of the
    largest fort in India. After this visit government museum and Umaid Bhawan palace and museum. In the evening
    free for exploring the beautiful markets.
</p>
<p >Overnight stay at Jodhpur.</p>

<h4 class="bg-title" >Day 07 : Jodhpur – Jaipur</h4>
<p >Early morning drive to Jaipur by road its 6 hours long drive. Jaipur is known as
    ‘Pink City’. After reach in that vibrant city visit Amber Fort by jeep and Hawa Mahal from outside. Overnight at
    hotel.
</p>
<h4 class="bg-title" >Day 08 : Jaipur– Agra</h4>
<img src="assets/images/vr5.png" alt="" class="img-responsive" style="margin-top:20px; margin-bottom:20px">
<p >
    In the morning after taking breakfast visit city palace and Jantar Mantar (Observatory) – this is also a UNESCO
    heritage site and built by the Rajput king Sawai Jai Singh. It was completed in 1738 CE. Afternoon drive to
    Agra. Overnight at Agra.
</p>
<h4 class="bg-title" >Day 09 : Agra – Delhi</h4>
<img src="assets/images/vr6.png" alt="" class="img-responsive" style="margin-top:20px; margin-bottom:20px">
<p >
    Agra, a city in northern India’s Uttar Pradesh state, is home to the iconic Taj Mahal, a mausoleum built for the
    Mughal ruler Shah Jahan’s wife, Mumtaz Mahal, who died in childbirth in 1631. In the morning after breakfast
    visit Morning after taking breakfast visit Taj Mahal (A famous UNESCO world heritage site and one of the Seven
    Wonders of the World), after visit that magnificent building visit Agra Fort (which is also a UNESCO heritage
    site) - Where you can see beautiful and stunning Mughal arctechture. Post lunch drive towards Delhi. It’s a 4
    hour drive. In the evening after dinner transfer to Delhi airport.
</p>
<p ><b>-: Tour Ends:-</b></p>




                                </div>
                            </div>


                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>

