<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">GOLDEN TRIANGLE WITH RANTHAMBORE

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">(7 Nights/ 8 Days)</h2>
                                      

                                </div>
                               
                                <div class="price-table-summary">

                                    <h4 class=" bg-title" style="font-weight:600">DAY 1 : ARRIVE DELHI</h4>
                                    <p class="">Meeting and assistance on arrival by company representative and transfer to hotel. </p>
                                        <p class=""><b>Delhi</b><br>
                                    India's largest city, Delhi, has been one of the country’s commercial and economic hubs for centuries and, as a result, is incredibly rich in culture and history. Made up of the ancient walled city of Old Delhi and the more modern sector, New Delhi, the city encompasses a staggering array of beautiful architecture, notable monuments and age-old temples, including three UNESCO World Heritage Sites the Red Fort, Qutab Minar and Humayun's Tomb. Other key attractions include the 17th century Chandni Chowk marketplace still one of the citys most popular retail centres today, particularly for jewellery and traditional Indian saris; the iconic Bahi Lotus Temple an award-winning architectural gem; and the Jama Masjid, Indias largest mosque.</p>
                                    <p class=""><i>	Overnight at Hotel.</i></p>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        
                       
                        
                        <div class="row">
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">
                                    
                                
                                    
                                    <h4 class=" bg-title" style="font-weight:600">DAY 2 : DELHI</h4>
                                    <p class="">Breakfast at hotel </p>
                                        <p class="">Sightseeing Delhi - Visit Jama Masjid, enjoy a Bi-Cycle Rickshaw Ride, Raj Ghat, Red Fort (Photo stop only). </p>
                                        <p class="">Lunch at Local Restaurant.</p>
                                        <p class="">Later visit Qutub Minar, Humayun's Tomb, driving past Parliament House, Presidents House, India Gate and other Government Buildings. </p>
                                        <p class="">Dinner at Local restaurant.</p>
                                        <p class=""><i>Overnight at Hotel.</i></p>
                                    <h4 class=" bg-title" style="font-weight:600">DAY 3 : DELHI/AGRA	</h4>
                                    
                                    <p class="">	Breakfast at hotel.</p>
                                        <p class="">Afternoon drive to Agra (203 kms / 04 hrs).</p>
                                        <p class=""><b>Agra</b><br>
                                    Home of the world-famous Taj Mahal, Agra is one of Indias prime tourist destinations for specifically this reason, though its attractions also extend to an array of other impressive historical sights. These include the red-hued Agra Fort, the sacred Jama Masjid mosque and Itmad-ud-Daulahs tomb, with its white marble facade embellished with intricate inlaid designs and semi-precious gems. The Taj, however, is in a league of its own and needless to say is a must-see for any visitor to the city. Commissioned by the Mughal emperor Shah Jahan in the 15th century as a memorial to his beloved wife Mumtaz Mahal, it is an architectural masterpiece of exquisite craftsmanship and perfect proportions.</p>
                                        <p class="">On arrival check in Hotel.</p>
                                        <p class="">Lunch at Local restaurant.</p>
                                        <p class="">Morning Sightseeing – Visit Taj Mahal &amp; Agra Fort.</p>
                                        <p class="">Dinner and Overnight at hotel.</p>
                                    <h4 class=" bg-title" style="font-weight:600">DAY 4 : AGRA/FATEHPUR SKRI/SAWAI MADHOPUR	</h4>	
                                    
                                    <p class="">Breakfast at hotel.</p>
                                        <p class="">Morning drive to Sawaimadhopur (200 kms / 05 hrs). </p>
                                        <p class=""><b>Sawai Madhopur</b><br>
                                    Located in the Sawai Madhopur district, the Ranthambore National Park, in the western state of Rajasthan, is one of the most visited wildlife parks in India. Spanning over an impressive 1300-square-kilometer stretch of wilderness, the parks outstanding natural beauty is characterized by its dense jungle, golden savanna, dramatic cliffs and lotus-filled lakes. Considered the best spot to catch a glimpse of tigers in the wild, the park offers visitors a spellbounding combination of mystical temples, wild beauty and crumbling ruins. While the main attraction is undoubtedly the elusive Bengal tiger, the park provides a sanctuary for other wildlife including, among others: sambar, gazelle, caracal, black buck, crocodile, chital, wild boars and a wide array of birds. Dont miss the ancient Ranthambore Fort, perched high on the cliffs overlooking the vast expanse of this spectacular park.</p>
                                        <p class="">Enroute visit Fatehpur Sikri.</p>
                                        <p class=""><b>Fatehpur Sikri</b><br>
                                    This stylish red sandstone capital was built by Akbar, the great Mughal Emperor, in gratitude to a local saint – Sheikh Salim Chishti who announced that the childless Akbar would be blessed  with a son very soon. The important buildings like Diwan–e-khaas, Diwan–e-aam and Pachhisi are worth visiting.</p>
                                        <p class="">Lunch at a Local Restaurant in Fatehpur.</p>
                                        <p class="">On arrival check in hotel.</p>
                                        <p class=""><i>Dinner &amp; overnight at hotel.</i></p>
                                    <h4 class=" bg-title" style="font-weight:600">DAY 5 : SAWAI MADHOPUR</h4>
                                    
                                        <p class="">Early morning you will be picked up from your hotel for Jungle safari by shared canter on seat sharing basis. </p>
                                        <p class="">Breakfast and Lunch at hotel</p>
                                        <p class="">Rest of the day free for independent activities.</p>
                                        <p class="">Early evening enjoy another Jungle Safari by shared canter. </p>
                                        <p class=""><i>Dinner &amp; overnight at hotel.</i></p>
                                    <h4 class=" bg-title" style="font-weight:600">DAY 6 : SAWAIMADHOPUR/JAIPUR	</h4>
                                    <p class="">Breakfast at hotel.</p>
                                        <p class="">Morning drive to Jaipur (190 kms/03 hsr)</p>
                                        <p class=""><b>Jaipur</b><br>
                                    Fringed by the rugged Aravali Hills, Jaipur is the capital and largest city in Indias northern state of Rajasthan. This city is famed for being Indias first planned city featuring a multitude of pink terracotta buildings within the walled historic centre, earning it the nickname,The Pink City. Jaipur falls within the Golden Triangle, a popular tourist circuit, which includes Delhi, Jaipur and Agra, and serves as a gateway to the neighbouring desert cities of Jaisalmer and Jodhpur. This colourful city is a combination of tradition and modernity and offers visitors vibrant bazaars, lavish palaces and ancient temples. The salmon-hued old city is home to the opulent City Palace, encompassing an impressive assortment of palatial structures, sprawling gardens, courtyards and buildings. Dont miss the fairy-tale splendour of the Amber Fort, set against the backdrop of the arid landscape.</p>
                                        <p class="">On arrival check in hotel.</p>
                                        <p class="">Lunch at the hotel.</p>
                                        <p class="">Afternoon sightseeing visit to Observatory, Hawa Mahal (photo stop) &amp; City Palace Museum.</p>
                                        <p class=""><i>Dinner &amp; overnight at hotel.</i></p>
                                    <h4 class=" bg-title" style="font-weight:600">DAY 7 : JAIPUR	Breakfast at hotel</h4>
                                        <p class="">Morning sightseeing of Jaipur- Amer Fort (Elephant ride).</p>
                                        <p class="">Lunch at the hotel</p>
                                        <p class="">Rest of the day at leisure.</p>
                                        <p class=""><i>Dinner &amp; overnight at hotel.</i>
                                    </p><h4 class=" bg-title" style="font-weight:600">DAY 8 : DEPARURE JAIPUR/DELHI</h4>
                                        <p class="">Breakfast at hotel.</p>
                                        <p class="">Morning drive to Jaipur (260 kms/06 hrs)</p>
                                        <p class="">Board the flight for onward Journey</p>
                                        <br><br><br>
                                    <p class=""><b>End of the Tour</b></p>
                                </div>
                            </div>
                        

                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>