<body>
    <div id="siteLoader" class="site-loader">
       <div class="preloader-content">
          <img src="assets/images/loader1.gif" alt="">
       </div>
    </div>
    <div id="page" class="page">
       <!-- ***site header html start*** -->
       <app-header></app-header>
       <main id="content" class="site-main">
          <section class="booking-inner-page">
             <!-- ***Inner Banner html start form here*** -->
             <div class="inner-banner-wrap">
                <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                   <div class="container">
                      <div class="inner-banner-content">
                         <h1 class="page-title">Visa Services</h1>
                      </div>
                   </div>
                </div>
             </div>
             <!-- ***Inner Banner html end here*** -->
             <div class="booking-section">
             
                <div class="container">
                 
                   <div class="row">
                      <div class="col-lg-8 right-sidebar">
                          <div class="price-table-summary">
                              <h4 class="bg-title">Visa Services </h4>
                              <ul class="lstl fPoppins">
                                  <li>Visa Drop Box (Submission &amp; Collection- Detailed requirements) </li>
                                  <li>Cargo Pick-up and dispatch services.</li>
                                  <li>Consulate Documentations, Notary etc.</li>
                                  <li>Pick up &amp; Drop </li>
                                  <li>Immigration</li>
                                  <li>Documentation attestation.</li>
                                  <li>Notary from Court / Mantralay.</li>
                                  <li>Passport assistance.</li>
                                  <li>FRRO</li>
                                  </ul>
                            
                           </div>
                           <div class="price-table-summary">
                              <h4 class="bg-title">Process of VISA applying: </h4>
                              <ul class="lstl fPoppins">
                                  <li>
                                  1.	Date of Travel: You must be clear about your travelling dates. One must have journey tickets available before applying for a visa. .
                                  </li><li>
                                  2. Time Frame: Although processing of VISA doesn’t take longer time but you still need to apply VISA as early as possible, generally 30 Days in advance. As an Embassy can take some longer time to issue VISA for travelling country. 
                                  </li><li>
                                  3. Documentation: Before applying VISA, You should have all documents ready while you apply for a visa. Your passport is the most important document you will need, it should have 06 months validity post your travel dates. Kindly check list of travel documents required to apply VISA from Embassy website of related country.  
                                  </li><li>
                                  4. Visa Fees: Once you documents are complete, and apply VISA, you have to pay VISA fee, which is different for individual country. 
                                  </li><li>
                                  5. Track your visa: After VISA apply, one can track his/her VISA application online. You just need to fill your reference number, and you will know the real-time status of your application.
                                  </li><li>
                                  6. Foreign Exchange : After all the formalities for visa process, another important task is Foreign Exchange. It is always recommended to carry out the local currency of the country /place you are going to visit. One can also buy a Forex Card, as it is the most convenient way of carrying foreign currency. There are many Card service providers which can arrange Travelling Card for your visit. 
                                  </li>
                                  </ul>
                            
                           </div>
                         <!-- step one form html start -->
                        
                         <!-- step one form html end -->
                      </div>
                      <div class="col-lg-4">
                          <img src="assets/images/visa-assistance.jpg" alt="" >
                          <div class="price-table-summary">
                              <h4 class="bg-title">HELP AND SUPPORT</h4>
                              <div class="widget-bg widget-support-wrap">
                                 <div class="icon">
                                    <i class="fas fa-phone-volume"></i>
                                 </div>
                                 <div class="support-content">
                                   
                                    <a href="telto:12345678" class="phone"> +91-9953560350  </a>
                                    <small>24x7hrs</small>
                                 </div>
                              </div>
                          
                           </div>
                           <img src="assets/images/Passport.jpg" alt="" >
                        
                        
                         
                       
                         <!-- <div class="widget-bg widget-support-wrap">
                            <div class="icon">
                               <i class="fas fa-phone-volume"></i>
                            </div>
                            <div class="support-content">
                               <h5>HELP AND SUPPORT</h5>
                               <a href="telto:12345678" class="phone">+55 123 987 00</a>
                               <small>Monday to Friday 9.00am - 7.30pm</small>
                            </div>
                         </div> -->
                      </div>
                      <p >
                          For more information, you can call to our service helpline. </p>
                          <p class="">
                              We at Hi-Five Travel Services offers lowest fares, exclusive discounts and a seamless online booking experience. Desktop or mobile site is a delightfully customer friendly experience, and with just a few clicks you can complete your booking.It provides you a wide range of facilities, right from choosing your pickup point to your preferred choice of seat (for instance, luxury buses with sleeper berths). You can also choose from the widest range of available buses like Mercedes, Volvo, AC luxury, Deluxe, Sleeper, Express and other private buses. The payment options are easier too- you can use either debit/credit card facility or net-banking. Not just that, in case of any change in your travel plan, bus tickets can be cancelled online. So, next time you need not stand in long queues or search at different bus ticket counters. You can directly book bus tickets online with us . 
                              </p>


                              <div class="col-lg-12 right-sidebar">
                                 
                                 <!-- step one form html start -->
                                 <div class="booking-form-wrap">
                                    <form method="get">
                                       <div class="booking-content">
                                          <div class="form-title">
                                             
                                             <h3>Visa Services </h3>
                                          </div>
                                          <div class="row">
                                             <div class="col-sm-3">
                                                <div class="form-group">
                                                   <label>Name*</label>
                                                   <input type="text" class="form-control" placeholder="name" name="firstname_booking">
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <div class="form-group">
                                                   <label>Email</label>
                                                   <input type="text" placeholder="email-id"  class="form-control" name="lastname_booking">
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <div class="form-group">
                                                   <label>Mobile</label>
                                                   <input type="email" class="form-control" placeholder="Enter phone no."  name="email_booking">
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <div class="form-group">
                                                   <label>City</label>
                                                   <input type="email" class="form-control" placeholder="Enter your city"  name="email_booking">
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <div class="form-group">
                                                   <label>Passport Issue place</label>
                                                   <input type="text" class="form-control" placeholder=""  name="lastname_booking">
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                              <div class="form-group">
                                                 <label>Passport Issue date</label>
                                                 <input type="text" class="form-control" placeholder="DD/MM/YYYY"  name="lastname_booking">
                                              </div>
                                           </div>
                                             <div class="col-sm-3">
                                                <div class="form-group">
                                                   <label>Passport expiry date</label>
                                                   <input type="text" class="form-control"placeholder="DD/MM/YYYY"  name="firstname_booking">
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                              <div class="form-group">
                                                 <label>Passport type</label>
                                                 <select name="country" id="country">
                                                  <option value="" selected="">Select </option>
                                                  <option value="Blue Passport – Regula">Blue Passport – Regular</option>
                                                  <option value="White Passport –Official">White Passport –Official</option>
                                                  <option value="Maroon Passport – Diplomats">Maroon Passport – Diplomats</option>
                                              
                                               </select>

                                             
                                              </div>
                                           </div>
                                           <div class="col-sm-3">
                                              <div class="form-group">
                                                 <label>Countey to visit</label>
                                                 <input type="text" class="form-control"placeholder=""  name="firstname_booking">
                                              </div>
                                           </div>
                                           <div class="col-sm-3">
                                              <div class="form-group">
                                                 <label>Type of Visa</label>
                                            
                                                 <select name="country" id="country">
                                                    <option value="" selected="">Select </option>
                                                    <option value="Tourist Visa">Tourist Visa </option>
                                                    <option value="Business Visa">Business Visa</option>
                                                    <option value="Medical Visa">Medical Visa</option>
                                                    <option value="Student Visa">Student Visa</option>
                                                    <option value="Residence Visa">Residence Visa</option>
                                                    <option value="Immigrant Visa">Immigrant Visa</option>
                                                    <option value="Dependent Visa">Dependent Visa</option>
                                                    <option value="Employment Visa">Employment Visa</option>
                                                    <option value="Conference Visa">Conference Visa</option>
                                                    <option value="X/ Entry Visa">X/ Entry Visa</option>
                                                    <option value="Project Visa">Project Visa</option>
                                                    <option value="Research Visa">Research Visa</option>
                                                    <option value="Transit Visa">Transit Visa</option>
                                                
                                                    
                                                 </select>
                                               
                                              </div>
                                           </div>
                                           <div class="col-sm-3">
                                              <div class="form-group">
                                                 <label>Travel Date</label>
                                                 <input type="text" class="form-control"placeholder="DD/MM/YYYY"  name="firstname_booking">
                                              </div>
                                           </div>
                                           <div class="col-sm-3">
                                              <div class="form-group">
                                                 <label>Purpose of travel</label>
                                                 <input type="text" class="form-control"placeholder=""  name="firstname_booking">
                                              </div>
                                           </div>
                                          
                                           <div class="col-sm-12">
                                              <div class="form-group">
                                                 <label>Any other requirement</label>
                                                 <textarea name="txtOtherRequirements" rows="2" cols="20" id="txtOtherRequirements" class="form-control" spellcheck="false"></textarea>
                                              </div>
                                           </div>
                                          
                                         
                                          </div>
                                       </div>
                                       <!-- <div class="booking-content">
                                          <div class="form-title">
                                             <span>2</span>
                                             <h3>Payment Information</h3>
                                          </div>
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="form-group">
                                                   <label>Name on card*</label>
                                                   <input type="text" class="form-control" name="firstname_booking">
                                                </div>
                                             </div>
                                             <div class="col-12">
                                                <div class="row align-items-center">
                                                   <div class="col-sm-6">
                                                      <div class="form-group">
                                                         <label>Card number*</label>
                                                         <input type="text" id="card_number" name="card_number" class="form-control">
                                                      </div>
                                                   </div>
                                                   <div class="col-sm-6">
                                                      <img src="assets/images/cards.png" alt="Cards">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12">
                                                <div class="row">
                                                   <div class="col-md-6">
                                                      <div class="form-group">
                                                         <label>Expiration date*</label>
                                                         <div class="row">
                                                            <div class="col-md-6">
                                                               <input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="MM">
                                                            </div>
                                                            <div class="col-md-6">
                                                               <input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="Year">
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="col-md-6">
                                                      <div class="form-group">
                                                         <label>Security code*</label>
                                                         <div class="row">
                                                            <div class="col-4">
                                                               <div class="form-group">
                                                                  <input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
                                                               </div>
                                                            </div>
                                                            <div class="col-8">
                                                               <img src="assets/images/icon_ccv.gif" alt="ccv"><small>Last 3 digits</small>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="info-content">
                                             <h4>Or checkout with Paypal</h4>
                                             <p>Lorem ipsum dolor sit amet, vim id accusata sensibus, id ridens quaeque qui. Ne qui vocent ornatus molestie, reque fierent dissentiunt mel ea.</p>
                                             <a href="#">
                                                <img src="assets/images/paypal_bt.png" alt="">
                                             </a>
                                          </div>
                                       </div> -->
                                       <!-- <div class="booking-content">
                                          <div class="form-title">
                                             <span>3</span>
                                             <h3>Billing Address</h3>
                                          </div>
                                          <div class="row">
                                             <div class="col-sm-12">
                                                <div class="form-group">
                                                   <label>Country*</label>
                                                   <select name="country" id="country">
                                                      <option value="" selected="">Select your country</option>
                                                      <option value="Europe">Europe</option>
                                                      <option value="United states">United states</option>
                                                      <option value="Asia">Asia</option>
                                                   </select>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-sm-6">
                                                <div class="form-group">
                                                   <label>Street line 1*</label>
                                                   <input type="text" name="street_1">
                                                </div>
                                             </div>
                                             <div class="col-sm-6">
                                                <div class="form-group">
                                                   <label>Street line 2</label>
                                                   <input type="text" name="street_2">
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                   <label>City*</label>
                                                   <input type="text" name="city_booking">
                                                </div>
                                             </div>
                                             <div class="col-md-3 col-sm-6">
                                                <div class="form-group">
                                                   <label>State*</label>
                                                   <input type="text" name="state_booking">
                                                </div>
                                             </div>
                                             <div class="col-md-3 col-sm-6">
                                                <div class="form-group">
                                                   <label>Postal code*</label>
                                                   <input type="text" name="postal_code">
                                                </div>
                                             </div>
                                             <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                   <label>Additional Information</label>
                                                   <textarea rows="6" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                                </div>
                                             </div>
                                          </div>
                                       
                                       </div> -->
                                       <div class="form-policy">
                                          <!-- <h3>Cancellation policy</h3>
                                          <div class="form-group">
                                             <label class="checkbox-list">
                                                <input type="checkbox" name="s">
                                                <span class="custom-checkbox"></span>
                                                I accept terms and conditions and general policy.
                                             </label>
                                          </div> -->
                                          <button type="submit" class="round-btn">Submit Now</button>
                                       </div>
                                    </form>
                                 </div>
                                 <!-- step one form html end -->
                              </div>
                   </div>
                </div>
          </div>
          </section>
       </main>
       <!-- ***site footer html start form here*** -->
       <footer id="colophon" class="site-footer footer-primary">
          <div class="top-footer">
             <div class="container">
                <div class="upper-footer">
                   <div class="row">
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <div class="footer-logo">
                               <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                            </div>
                            <div class="textwidget widget-text">
                               Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium magna conubia at perferendis, pretium, aenean aut ultrices.
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_latest_post widget-post-thumb">
                            <h3 class="widget-title">RECENT POST</h3>
                            <ul>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img21.jpg" alt=""></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img22.jpg" alt=""></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                            </ul>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <h3 class="widget-title">CONTACT US</h3>
                            <div class="textwidget widget-text">
                               <p>Feel free to contact and<br/> reach us !!</p>
                               <ul>
                                  <li>
                                     <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                     </a>
                                  </li>
                                  <li>
                                     <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                     </a>
                                  </li>
                                  <li>
                                     <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                     3146 Koontz, California
                                  </li>
                               </ul>
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget">
                            <h3 class="widget-title">Gallery</h3>
                            <div class="gallery gallery-colum-3">
                               <figure class="gallery-item">
                                  <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img21.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img22.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img23.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img24.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img25.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img26.jpg" alt="">
                                  </a>
                               </figure>
                            </div>
                         </aside>
                      </div>
                   </div>
                </div>
                <div class="lower-footer">
                   <div class="row align-items-center">
                      <div class="col-lg-6">
                         <div class="footer-newsletter">
                            <p>Subscribe our newsletter for more update & news !!</p>
                            <form class="newsletter">
                               <input type="email" name="email" placeholder="Enter Your Email">
                               <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                            </form>
                         </div>
                      </div>
                      <div class="col-lg-6 text-right">
                         <div class="social-icon">
                            <ul>
                               <li>
                                  <a href="https://www.facebook.com/" target="_blank">
                                     <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.twitter.com/" target="_blank">
                                     <i class="fab fa-twitter" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.youtube.com/" target="_blank">
                                     <i class="fab fa-youtube" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.instagram.com/" target="_blank">
                                     <i class="fab fa-instagram" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.linkedin.com/" target="_blank">
                                     <i class="fab fa-linkedin" aria-hidden="true"></i>
                                  </a>
                               </li>
                            </ul>
                         </div>
                         <div class="footer-menu">
                            <ul>
                               <li>
                                  <a href="policy.html">Privacy Policy</a>
                               </li>
                               <li>
                                  <a href="policy.html">Term & Condition</a>
                               </li>
                               <li>
                                  <a href="faq.html">FAQ</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="bottom-footer">
             <div class="container">
                <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
             </div>
          </div>
       </footer>
       <!-- ***site footer html end*** -->
       <a id="backTotop" href="#" class="to-top-icon">
          <i class="fas fa-chevron-up"></i>
       </a>
       <!-- ***custom search field html*** -->
       <div class="header-search-form">
          <div class="container">
             <div class="header-search-container">
                <form class="search-form" role="search" method="get" >
                   <input type="text" name="s" placeholder="Enter your text...">
                </form>
                <a href="#" class="search-close">
                   <i class="fas fa-times"></i>
                </a>
             </div>
          </div>
       </div>
       <!-- ***custom search field html*** -->
       <!-- ***custom top bar offcanvas html*** -->
       <div id="offCanvas" class="offcanvas-container">
          <div class="offcanvas-inner">
             <div class="offcanvas-sidebar">
                <aside class="widget author_widget">
                   <h3 class="widget-title">OUR PROPRIETOR</h3>
                   <div class="widget-content text-center"> 
                      <div class="profile"> 
                         <figure class="avatar"> 
                            <img src="assets/images/img21.jpg" alt=""> 
                         </figure> 
                         <div class="text-content"> 
                            <div class="name-title"> 
                               <h4> James Watson</h4> 
                            </div> 
                            <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p> 
                         </div> 
                         <div class="socialgroup"> 
                            <ul> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li> 
                            </ul> 
                         </div> 
                      </div> 
                   </div>
                </aside>
                <aside class="widget widget_text text-center">
                   <h3 class="widget-title">CONTACT US</h3>
                   <div class="textwidget widget-text">
                      <p>Feel free to contact and<br/> reach us !!</p>
                      <ul>
                         <li>
                            <a href="tel:+01988256203">
                               <i aria-hidden="true" class="icon icon-phone1"></i>
                               +01(988) 256 203
                            </a>
                         </li>
                         <li>
                            <a href="mailtop:info@domain.com">
                               <i aria-hidden="true" class="icon icon-envelope1"></i>
                               info@domain.com
                            </a>
                         </li>
                         <li>
                            <i aria-hidden="true" class="icon icon-map-marker1"></i>
                            3146 Koontz, California
                         </li>
                      </ul>
                   </div>
                </aside>
             </div>
             <a href="#" class="offcanvas-close">
                <i class="fas fa-times"></i>
             </a>
          </div>
          <div class="overlay"></div>
       </div>
       <!-- ***custom top bar offcanvas html*** -->
    </div>

 </body>