<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">Karnatka Goa Tour

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">09 Nights / 10 Days</h2>
                                   
                           
                                </div>
                                <div class="price-table-summary">
                                  
                                    <h4 class=" bg-title" >Day 01: 	Arrive Delhi </h4>
                            
                                    <p class="">Arrive Delhi airport. After clearing immigration and custom formalities, you will be meet and greet by our company representative, traditional welcome garlanding. Transfer to hotel by AC transport. </p>
                                    <p class="">Overnight stay at hotel. </p>
                           
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    

                        

                        <div class="price-table-summary">
                           
                            <div class="price-table-summary">
                               
                                
                                <h4 class=" bg-title" >Day 01	ARR MUMBAI  </h4>
                                <p class=" text-justify">Arrive Mumbai airport and transfer to Hotel.</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 02	MUMBAI </h4>
                                <p class=" text-justify">After breakfast city tour of Mumbai. Visit Elephanta Island, Gateway of India, Prince of wales museum.</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 03	MUMBAI – BANGALORE  by flight </h4>
                                <p class=" text-justify">After breakfast fly to Bangalore. Aftenroon visit Vidhan Saudha, Cubbon Park, Lalbagh &amp; Bull temple.</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 04	BANGALORE – HASSAN  (195 kms/04 Hrs)</h4>
                                <p class=" text-justify">After breakfast drive to Hassan. Afternoon visit Belur and  Helebid temples famous for its Hoysala Architecture using the soft stone with amazing hand craft.</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 05	HASAN – HOSPET (320 Kms/07 Hrs)</h4>
                                <p class=" text-justify">After breakfast drive to Hospet, enroute visit Haleibid and Bellur temples.</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 06	HOSPET – HAMPI – BADAMI</h4>
                                <p class=" text-justify">Morning visit Hoysaleshwara temples and ruins of Hampi spread over 26 sq. km. include temples, palaces, baths and pavilions. After lunch drive to Badami (180 kms, 4 hrs).</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 07	BADAMI – GOA (260 kms/06 Hrs)</h4>
                                 <p class=" text-justify">Morning visit Badami cave temples &amp; Badami Fort. Afternoon drive to Goa.</p>
                                 <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 08	GOA</h4>
                                <p class=" text-justify">Morning visit Old Goa Churches, Dauna Paula Beach and Calangute Beach.</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 09	GOA – MUMBAI by flight </h4>
                                <p class=" text-justify">After breakfast fly to Mumbai. After lunch  visit Dhobi Ghat, Victoria terminus, Iskon temple, Juhu beach, Marine drive. After dinner drop at airport.</p>
                                <p class=""><b><i>Overnight stay at hotel.  </i></b></p>
                                <h4 class=" bg-title" >Day 10	MUMBAI /DEART </h4>
                                <p class=""><b><i>End of the tour. </i></b></p>
                                           </div>
                            <h4 class=" bg-title" >Day 02: 	Delhi / Varanasi by flight </h4>
                            
                            <img src="assets/images/bs1.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Morning after breakfast full day combined city tour of Old and New Delhi. </p>
                            <p class="">Old Delhi, built in the 17th century by Shah Jehan the Magnificent (who also built the Taj Mahal). First we will visit the famous Jama Masjid mosque with its 9,000 sq. ft. courtyard, three domes and two minarets. Then proceed to the massive complex known as the Red Fort (only for photo stop). (Red Fort is closed on Monday).</p>
                            <p class="">Later visit Raj Ghat the crimination ground of Mahatma Ghandi, Lakshmi Narayan Temple, a Spectacular structure that’s just 60 years old, India Gate – the war memorial, photo stop at Presidential Palace and Parliament House and then proceed via India Gate – the war memorial, photo stop at Presidential Palace and Parliament House. </p>
                            <p class="">Later transfer to airport to board flight for Varanasi. Upon arrival transfer to hotel. </p>
                            <p class="">Overnight stay at hotel.</p>
                            <h4 class=" bg-title" >Day 03: 	Varanasi</h4>
                            <img src="assets/images/bs2.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Today early morning you experience the life of this ancient city. See the beauty of the rising sun on the Ganges Boat Ride. The boat ride passes along some of the 100 ghats, with numerous palaces built by Hindu kings. Experience the early morning rituals of the Hindus being performed, thousands of people taking a bath in the holy river believing they will be free from the circle of rebirth. It is interesting to see the pilgrims offering sweets, flowers and holy water to the Sun God. </p>
                            <p class="">Return to hotel for breakfast. Later you will see the Bharat Mata Temple, dedicated to Mother India, which, instead of gods and goddesses, houses a relief map of India carved out of marble.. Emperor Aurangazeb’s Mosque built in the 17th century on the site of a Hindu Temple. The rear of the mosque reveals specimens of the ancient temple art of India. Vishwanath Temple (Golden Temple) erected by Rani Ahalyabai Holkar of Indore in 1776.  The shikharas of the temple are gold plated. </p>
                            <p class="">After lunch drive to Sarnath, 10 kms north of Varanasi is Sarnath, where in the Deer Park; Gautam Buddha delivered his first sermon. After he received enlightenment. The ruins of monasteries, built more than 2000 years ago, the Dhamok Stupa, the Dharmaraji Ka Stupa and the main shrine draw Buddhist pilgrims yearly to Sarnath. The Mahabodhi Society of India have recently built a modern Vihara, the interior frescoes of which have been executed by a Japanese artist.  At Sarnath stands the famous Ashoka Pillar of polished sandstone whose lion capital has been adopted by the republic of India as its state emblem. The museum designed like a Buddhist monastery, contains many superb specimens of ancient art. Evening Enjoy aarti at river Ganges. </p>
                            <p class="">Overnight stay at hotel. </p>
                            <h4 class=" bg-title" >Day 04: 	Varanasi / Khajuraho by flight </h4>
                            <img src="assets/images/bs3.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Morning at leisure. Later transfer to airport to board flight for Khajuraho. Arrive Khajuraho and transfer to hotel. </p>
                            <p class="">Later Half day city tour of Khajuraho. Visit Eastern and Western group of Temples.</p>
                            <p class="">The Eastern Group of temples are mainly dedicated to the Jain teachers - tirthankaras - The Parsvanatha Temple, the Adinatha Temple and the Santinatha Temple. There is a 4.5m statue of Adinatha in the main place of Jain worship. The temples are ornately carved on the outside with beautiful figures of Hindu gods, goddesses. </p>
                            <p class="">The Western Group consists of a group of artistic temples built in sandstone. The sculptures of Hindu deities, dancers and musicians appear to be so natural as if they would come alive any time. We will visit the Varaha Temple dedicated to Vishnu, and also the Lakshmana Temple also dedicated to Vishnu. It is one of the earliest of the western enclosure temples dating from 930 to 950 AD. The Kandariya Mahadeva Temple is not only the largest of the temples, it is also artistically and architecturally the most perfect. Built between 1025 and 1050 it represents Chandella art at its most finely developed phase. </p>
                            <p class="">Overnight stay at hotel.  </p>
                            <h4 class=" bg-title" >Day 05: 	Khajuraho/Orcha/Jhansi/Agra  	 # 12001 1756/2025 hrs	  </h4>  	
                            <img src="assets/images/bs4.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Morning after breakfast, drive to Jhansi enroute visit Orcha.</p>
                            <p class="">Orcha, 18 km from Jhansi, is highly picturesque &amp; is set on an island on a bend in the Betwa River. You see the beautiful Orcha Fort palace raised on a rocky promontory above the wooded countryside. The Raj Mahal with its Hall of Private Audience and Public Audience and royal chambers with beautiful painted murals on the walls and ceilings of religious and secular themes. The Jahangir Mahal, (7th century) palace built to commemorate the Emperor’s visit.  The Lakshmi Narayan Temple a square temple has excellentmurals (religious and secular) on the interior walls and ceilings of the four cool galleries around the temple. The paintings portray Hindu deities, scenes from epics, historical events including the early British period.</p>
                            <p class="">After lunch drive to Jhansi to board train for Agra. </p>
                            <p class="">Board Shatabdi Express at 1756 hrs. Arrive Agra at 2025 hrs. Meet and assistance upon arrival and transfer to hotel. </p>
                            <p class="">Overnight stay at hotel.  </p>
                            <h4 class=" bg-title" >Day 06: 	Agra/Jaipur (240 Kms/05 Hrs)		</h4>
                            <img src="assets/images/bs5.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            
                            <p class="">Early morning visit Taj Mahal. The Taj Mahal, the mausoleum built by a sorrowing Shah Jehan in memory of his young wife, Mumtaz Mahal. The Building's stupendous scale, flawless symmetry, translucent white marble and shimmering reflection in the water channel are truly breathtaking. (Taj Mahal is closed on Friday).</p>
                            <p class="">Return to hotel and have breakfast. Later visit Agra Fort. </p>
                            <p class="">Agra Fort, Built by Emperor Akbar, the maze of courtyards, mosques and private chambers of the fort echo the story of the Mughal Empire. The Moti Masjid and other magnificent buildings reflect the skill of the ancient Indian architects and artists. Afternoon drive to Jaipur. Arrive Jaipur and check in hotel.</p>
                            <p class="">Overnight stay at hotel. </p>
                            <h4 class=" bg-title" >Day 07:	Jaipur </h4>
                            <img src="assets/images/bs6.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Morning after breakfast, you will explore the city of Jaipur, founded in the 18th century. Called the ‘pink city’ many of its buildings are made of pink sandstone. Visit Amber Fort by Elephant Ride, the former seat of the Rajput rulers of Jaipur. Like the 18th-century Palace of Winds, the screened windows of Am ber allowed for the ladies of the court in times gone by to view the processional, civic activities, and formal matters of state. Photo Stop at Water Palace. </p>
                            <p class="">Afternoon visit see the Jantar Mantar, an open-air royal observatory with gigantic astronomical instruments. Also visit Laxmi Narayan Temple Etc. Evening visit Johiri Bazar for shopping.</p>
                            <p class="">Overnight stay at hotel.</p>
                            <h4 class=" bg-title" >Day 08: Jaipur /Jodhpur (340 Kms/06 hrs)</h4>
                            
                            <p class="">Morning after breakfast, visit the City Palace Museum, which houses the magnificent art collections of the Maharajahs of Jaipur. Later visit Hawa Mahal or the Palace of winds built in 1799 by Maharaja Sawai Pratap Singh. Lunch at hotel. Later drive to Jodhpur.   Arrive Jodhpur and check-in at hotel. </p>
                            <p class="">Overnight stay at hotel.</p>
                            <h4 class=" bg-title" >Day 09:	Jodhpur/ Udaipur (255 Kms/07 Hrs)	</h4>	
                            <img src="assets/images/bs7.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Morning after breakfast, visit the Meharangarh Fort, stands a hundred feet in splendor on a perpendicular cliff, four hundred feet above the sky line of Jodhpur. Burnished red sand stone, imposing, invincible and yet with a strange haunting beauty that beckons . Much has been written about the Citadel of the Sun, for truly, it is one of the most impressive in all Rajasthan. So colossal are its proportions that Rudyard Kipling called it “ the work of giants”.</p>
                            <p class="">Also visit Jaswant Thada, an imposing Marble Memorium built in 1899 and the museum located in the Umaid Public Gardens. After lunch drive to Udaipur. Enroute visit Jain temples at Ranakpur. Arrive Udaipur and and check in at hotel. </p>
                            <p class="">Dinner and overnight at hotel.</p>
                            <h4 class=" bg-title" >Day 10:		Udaipur		</h4>
                            <img src="assets/images/bs8.jpg" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Moring after breakfast   enjoy city tour of this "Lake City". Udaipur is a cool oasis in the dry heart of Rajasthan. It is  probably the most romantic city in a state where every city has some romantic or exotic tale to tell. The huge City Palace, towering over the Lake Pichola is the largest palace complex  in Rajasthan. Though it is a conglom eration of buildings built  by successive rulers, it  anages to retain a surprising  uniformity of design and affords fine views of the lake and the  city from upper terraces.   Proceed on to the Jagdish temple which enshrines a black  stone image of Lord Vishnu and his vehicle - a mighty bird   called Garuda in a brass image. The temple is a very fine example of Indo-Aryan art. The temple is still in use and is visited by colourfully dressed pilgrims. Also visit Sahelion Ki Bari – the spectacular garden displaying the  unique life style of the royal ladies who once lived in the palaces.</p>
                            <p class="">Evening take a leisurely cruise in small boats on the serene and beautiful Lake Pichola. The island palace on the  lake called Jagmandir Palace is quite fascinating. The banks of the lake provided interesting glimpses of the  daily bathing and laundry that takes place here. Looking across the lake, with the city and its great palace rising  up behind the island palace, is a scene of rare beauty. You will also have time to spend in the bustling market   that sprawls behind the City Palace Complex.</p>
                            <p class="">Overnight stay at hotel.</p>
                            <h4 class=" bg-title" >Day 11:	Udaipur/Mumbai by flight </h4>
                            <img src="assets/images/bs9.jpg" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Morning transfer to airport to board flight for Mumbai. </p>
                            <p class="">Later visit Prince Wales Museum. - This museum stands not too far from the Gateway of India.   It has a priceless collection of art, sculpture, china and other antics. Carefully presereved, this mid-Victorian Gothic style building built in 1904 with beautiful gardens surrounding it, is worth visiting  in Mumbai</p>
                            <p class="">Later visit CST Railway terminal. </p>
                            <p class="">Evneing drive past Marine Drive Marine Drive was once called the queen's Necklace, strung with glittering street lights like an enormous strand of imperious jewels, Chowpatty Beach - Chowpatty beach is situated on Marine Drive. This beach is well-known for it's stalls selling "Bhel-Puri and Pani -Puri chat" a favourite fast food among the Mumbaites and visitors to the city</p>
                            <p class="">Overnight stay at hotel.</p>
                            <h4 class=" bg-title" >Day 12:	Mumbai </h4>
                            <img src="assets/images/bs10.png" al1="" class="img-responsive" style="margin-bottom:20px; max-width:300px; float:right; margin-left:20px; margin-bottom:15px">
                            <p class="">Moring after breakfast,  Visit Gateway of India - Mumbai's most famous monument. It was built as a triumphal arch to commemorate the visit of King George V and Queen Mary, complete with four turrets and intricate latticework carved into the yellow basalt stone. Ironically, when the Raj ended in 1947. Later visit Elephanta Caves Elephant Island situated at 10 Kms from Mumbai. Hewn out of solid rock, the Elephanta Caves date back to 600 AD, and attract more visitors each year than the entire city of Mumbai. No wonder: this place resonates with the spiritual energy of India. The cave complex is a collection of shrines, courtyards, inner cells, grand halls and porticos arranged in the splendid symmetry of Indian rock-cut architecture, and filled with exquisite stone sculptures of Hindu Gods and Goddesses. </p>
                            <p class="">Afternoon visit Mani Bhawan - located on leafy Laburnum Road, a quiet lane named after its shady trees, Mani Bhavan is the old Mumbai residence of Mahatma Gandhi. It's a pretty, two-storied structure that now houses a reference library with over 2000 books, a photo exhibition of the Mahatma's life, and well preserved memorabilia, including an old charkha or spinning wheel that  Gandhiji used to use. Also visit Hanging Garden - The Hanging Gardens or Ferozshah Mehta Gardens were laid in 1881 on top of a reservoir on the Malabar Hills. This place has become a heaven for dating couples nevertheless the place provides a good view of the city. </p>
                            <p class="">Late evening transfer to airport to board flight for onward destination. </p>
                            
                                </div>
                       
                        
                   








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>