<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">DELHI – SRINAGAR – AGRA – JAIPUR

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">08 Nights / 09 Days</h2>


                                </div>
                                <div class="price-table-summary">

                                    <h4 class="bg-title" >Day 01: Arrive Delhi</h4>
                                    
                                    <p class=""><b>ARRIVE DELHI</b><br>
                                        Arrive in Delhi by flight. Transfer to hotel by AC transport.</p>
                                    <p class=""><i>Overnight stay at hotel.</i></p>
                                    <h4 class=" bg-title" >Day 02:  Delhi/ Srinagar  by Flight </h4>
                                    <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Later departure transfer to airport to board flight for Srinagar.</p>
                                        <p class="">On arrival, transfer to the hotel.</p>
                                        <p class="">Lunch at hotel.</p>
                                         <p class=""><b>Srinagar</b><br>
                                         Srinagar, the summer capital of Jammu &amp; Kashmir, is a city of lakes and waterways, gardens and picturesque wooden architecture. The old quarters of the city sprawl over both sides of the Jhelum river, crossed by seven bridges. At the city’s edge are the idyllic Dal and Nagin Lakes. Srinagar’s Mosques and shrines are among city’s most attractive features. The most impressive of them are the Mosque of Shah Hamadan, Shah Makhdum Sahib Shrine, Pathar Mosque, Mosque of Akhund Mulla Shah and Hazaratbal Mosque. Of the various Mughal Gardens that reportedly graced the Kashmir Valley, not many survive. There are three, however, within easy reach of Srinagar on the eastern shore of the Dal Lake – Chashmashahi, Nishat and Shalimar Gardens.</p>
                                        <p class="">Evening boat ride in Dal Lake. Pass through the vegetable vendors roaming in the lake on their uniquely decorated boats.</p>
                                        <p class="">Dinner &amp; overnight stay at hotel.</p>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        
                        <div class="row">
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">


                              
                                   
                                    <h4 class=" bg-title" >Day 03 : Srinagar/Gulmarg/Srinagar </h4>
                                        <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Full day excursion to Gulmarg (58 kms / 1h30). </p>
                                         <p class=""><b>Gulmarg</b><br>
                                    Gulmarg or the Meadow of flowers at an altitude of 2730 m was developed by the British around a meadow on the northern flank of the Pir Panjal Range. The central bowl has been laid out as a golf course, one of the highest in the world. Around it are fairy-tale cottages with Pine forests behind them. Gulmarg together Khilanmarg some 300 m higher up in the mountains is among India’s few ski resorts.</p>
                                        <p class="">Lunch at a local restaurant.</p>
                                        <p class="">Return to Srinagar in the evening.</p>
                                        <p class="">Dinner &amp; overnight stay at hotel.</p>
                                     
                                    
                                    <h4 class=" bg-title" >Day 04 : Srinagar </h4>
                                        <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Morning ‘Garden Tour’ of Srinagar including visits to Nishat Bagh, &amp; Shalimar Bagh. </p>
                                         <p class="">Srinagar’s Gardens</p>
                                    <p class="">There are numerous large and small gardens or "Baghs" scattered in and around Srinagar. Some of these are – Nishat Bagh (The garden of spring): These magnificent gardens designed by Nur Jehan's brother Asaf Khan, were laid down in 1633 and are among the largest of the Mughal gardens. They lie right on the edge of the Dal lake and have numerous terraces, beautiful lawns, beautiful flowers and fountains. According to the Persian poet Firdaus - “Agar Firdaus bar me Zaminast Haminasto haminnasto haminasto." This is what you feel when you visit this architectural world in full bloom during spring.</p>
                                    <p class=""><b>Shalimar Bagh :</b> The most beautiful of all the Mughal gardens, Shalimar Bagh was built for Nur Jahan, “Light of the world”, by her husband Jehangir in 1616. The gardens are straight out of a fairy tale. The top most of the four terraces called the “Abode of Love”, was reserved for the emperor and the ladies of court. There is a huge tank, and around 150 fountains dazzle with their display. Electric lights add charm to the beautiful atmosphere.</p>
                                        <p class="">Lunch at hotel.</p>
                                        <p class="">Afternoon sightseeing of Old City including visits to Jamia Mosque, Patthar Masjid and Zaina-Kadal Bridge.</p>
                                        <p class=""><i>Dinner &amp; overnight stay at hotel.</i></p>
                                    <h4 class=" bg-title" >Day 05:  Srinagar/Delhi by flight, Delhi/Agra (205 Kms/05 Hrs)  </h4>
                                        <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Morning at leisure.</p>
                                        <p class="">After lunch, departure transfer to airport to board flight for Delhi.</p>
                                        <p class="">On arrival drive to Agra (205 kms / 05 Hrs drive).</p>
                                        <p class="">On arrival check-in at hotel. </p>
                                         <p class=""><b>Agra</b><br>
                                    Agra was the seat of the imperial Mughal court during the 16th and the 17th centuries, before the capital was shifted to Delhi. It has been witness to the greatest gift of love – Taj Mahal, being created by Mughal Emperor Shahjahan for his deceased beloved queen – Mumtaz Mahal. Agra houses other beautiful monuments also like the Agra Fort, Sikandra and Itimad-ud-Daulah.</p>
                                    <p class=""><i>Dinner &amp; overnight stay at hotel.</i></p>
                                    <h4 class=" bg-title" >Day 06: Agra /Fatehpur Sikri /Jaipur (240 Kms/05 Hrs)</h4>
                                        <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Morning sightseeing of Agra city. Visit Taj Mahal &amp; Agra Fort. </p>
                                    
                                        <p class="">Afternoon drive to Jaipur. En-route sightseeing of Fatehpur Sikri</p>
                                         <p class="">Fatehpur Sikri</p>
                                    <p class="">This stylish red sandstone capital was built by Akbar, the great Mughal Emperor, in gratitude to a local saint – Sheikh Salim Chishti who announced that the childless Akbar would be blessed  with a son very soon. The important buildings like Diwan–e-khaas, Diwan–e-aam and Pachhisi are worth visiting.</p>
                                        <p class="">Continue drive to Jaipur.</p>
                                         <p class=""><b>Jaipur </b><br>
                                    Jaipur, the colourful capital of a richly colourful state, is a distinctively planned city, made all the more attractive by the ‘pink wash’ that most buildings are periodically given. The important monuments worth visiting are Amber Fort - the Kachhawaha citadel until 1727, when their capital moved to Jaipur. The City Palace - which has been home to the rulers of Jaipur since the first half of the 18th century. The Observatory – built in the 17th century by the founder of Jaipur – Maharaja Jai Singh. Hawa Mahal – an elaborate building encrusted with delicate honeycomb screens and carved balconies from behind which the royal ladies watched the market activities.</p>
                                        <p class="">On arrival transfer to the hotel</p>
                                        <p class=""><i>Dinner &amp; overnight at hotel.</i></p>
                                    <h4 class=" bg-title" >Day 07: Jaipur </h4>
                                        <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Morning excursion to the Amber Fort, located atop a hill, 11 kms north of Jaipur. Also enjoy an elephant ride from the base of the fort to the courtyard of Amber Palace located inside the fort.</p>
                                        <p class="">Lunch at the hotel.</p>
                                        <p class="">Afternoon sightseeing of Jaipur, including visit to the City Palace, the Observatory and Hawa Mahal.</p>
                                        <p class=""><i>Dinner &amp; overnight at hotel.</i></p>
                                    <h4 class=" bg-title" >Day 08: Jaipur/ Delhi (260 Kms/05 Hrs)</h4>
                                        <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Later drive to Delhi (262 kms / 5.5 Hrs).</p>
                                         <p class=""><b>Delhi</b></p>
                                    <p class="">Delhi has two distinct identities – the ‘Old’ Delhi and the ‘New’ Delhi.</p>
                                    <p class="">Old Delhi has the massive Red Fort (with a 300 year old city Shahjehanabad inside), the Jama Mosque, the crowded bazaars of Chandni Chowk and the cremation sites of various important political leaders like Mahatma Gandhi (Raj Ghat) &amp; Jawaharlal Nehru (Shanti Path). New Delhi, the creation of the British rule in India, has the stately President’s House, Parliament House, India Gate and other Government buildings around.</p>
                                        <p class="">Later city tour of New Delhi including drive past President’s House, Parliament House, India Gate and the Government Buildings.</p>
                                     
                                    
                                        <p class=""><i>Transfer to hotel. </i></p>
                                    <h4 class=" bg-title" >Day 09: Depart Delhi</h4>
                                        <p class="">Buffet breakfast at hotel.</p>
                                        <p class="">Visit Qutab Minar, Humayun Tomb, Bilra Temple, Evening free time at Janpath. After dinner transfer to airport to board flight for onward destination. </p>
                                    
                                    
                                </div>
                            </div>
                        

                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>