<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">NORTH INDIA NATURE & ADVENTURE TREK TOUR

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">07 Nights / 08 Days</h2>


                                </div>
                                <div class="price-table-summary">
                                    <h4 class="  bg-title">DAY 1 : ARRIVE DELHI </h4>
                                    <p>Meeting and assistance on arrival at Delhi by our representative and transfer to
                                        hotel. (Hotel Check-in time is 1400 hrs).</p>
                                    <p><b>Delhi</b><br>
                                        India's largest city, Delhi, has been one of the countrys commercial and economic hubs for centuries and, as a
                                        result, is incredibly rich in culture and history. Made up of the ancient walled city of Old Delhi and the more
                                        modern sector, New Delhi, the city encompasses a staggering array of beautiful architecture, notable monuments
                                        and age-old temples, including three UNESCO World Heritage Sites the Red Fort, Qutab Minar and Humayun's Tomb.
                                        Other key attractions include the 17th century Chandni Chowk marketplace still one of the citys most popular
                                        retail centres today, particularly for jewellery and traditional Indian saris; the iconic Bahi Lotus Temple an
                                        award-winning architectural gem; and the Jama Masjid, Indias largest mosque.</p>
                                    <p>Overnight at hotel in DELHI.</p>

                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>




                        <div class="price-table-summary">

                            <div class="price-table-summary">



<h4 class="  bg-title" >DAY 2 : DELHI </h4>
<p >Breakfast at hotel </p>
<p >Sightseeing Delhi - Visit Jama Masjid, enjoy a Bi Cycle Rickshaw Ride, Raj Ghat,
    Red Fort (Photo stop only). </p>
<p >Lunch at Local Restaurant.</p>
<p >Later visit Parliament House, President House, visit Qutab Minar &amp; Laxmi
    Narayan Temple.</p>
<p >Dinner at Local restaurant.</p>
<h4 class="  bg-title" >DAY 3 : DELHI/HARIDWAR/RISHIKESH</h4>
<p >In time departure transfer to the Railway Station to connect Train to Haridwar.</p>
<p >Dep: 0630 hrs<br>
    Arr : 1200 hrs</p>
<p >Packed breakfast in train.</p>
<p >On arrival drive to Rishikesh Ashram.(20 kms/ 01 hr )</p>
<p ><b>Rishikesh</b><br>
    Nestled in the mountains of northern India, on the banks of the mighty Ganges, Rishikesh is a holy town and
    spiritual centre for local and international pilgrims alike. Ashrams, yoga centres and temples make up the bulk
    of the buildings, with the revered Parmarth Niketan Ashram taking centre stage. Labelled as the World Capital of
    Yoga this is the place to visit if stretching your spine is top of your holiday to do list. A ritual not to be
    missed is the Ganga Satri ritual (pujah) that is performed on the steps of the Parmarth Niketan Ashram
    overlooking the river every evening at sunset.</p>
<p >The best Located Guest House High Bank Peasants Cottage or High Bank Himalyan
    Retreat for Bonfire BBQ &amp; Dinner with staff going to be with you on the trip. </p>
<p >Tonight Camp fire BBQ Dinner &amp; overnight stay in RISHIKESH.</p>
<h4 class="  bg-title" >DAY 4 : RISHIKESH/OKHIMATH /DOGAL BITA </h4>
<p > Breakfast at hotel </p>
<p > Drive to Okhimath, the winter seat of lord Kedarnath. The entire drive today is
    along the Ganga, Alaknanda and Mandakini river. </p>
<p >We stop at Devprayag, the historical town situated on the banks of for the famous
    confluence of Bhagirathi and Alaknanda river. </p>
<p >Stop at Rudraprayag for lunch. </p>
<p >After lunch we drive through the Mandakini Valley along the river. </p>
<p >Arrive Okhimath, the winter seat of lord Kedarnath, visit the temple of Okhimath
    through the small hill town and drive to camp at Dogal bitta. </p>
<p >Dinner and overnight in CAMPS.</p>
<h4 class="  bg-title" >DAY 5 : DOGALBITTA SARI / DEVRIATAL /SARI DOGALBITTA</h4>
<p >Morning after breakfast we drive to SARI. </p>
<p >Arrive and commence trek to Devriatal, one of the best high altitude Himalayan
    Lakes. Initially the trek goes through the village trail, giving you a chance to have a close encounter with the
    settlement pattern, dress, jewellery and life style of the mountain people. Later the trek goes through the
    thick forest. On the last stretch we come close to the tree line to reach the lake. Enjoy the outstanding view
    of Greater Himalayan peaks in the lake. Explore the area and trek to Sari, the typical Garhwali mountain
    village. We join the village women carrying heavy loads of dry leaves for their fields. </p>
<p >Trek down to road head drive to camp.</p>
<p >Dinner and Overnight in CAMPS. </p>
<h4 class="  bg-title" >DAY 6 : DOGALBITTA CHOPTA TUNGNATH /DOGALBITTA</h4>
<p >Morning after breakfast trek to Chopta.</p>
<p >After a cup of tea we commence trek to Tungnath. The entire trek is a gradual
    ascent through the dwarf Rhododendron bushes. One encounters Mt. Chukhmba (A mountain with four Pillars) from
    different angles. Lunch. Those who are fit enough can climb up to ChandraShilla. </p>
<p >Arrive Chandrashilla, enjoy the 360 degrees of panoramic view of Greater Himalayan
    Peaks as well as the valley behind. </p>
<p >Experience the godly vibrations and trek back to camp. </p>
<p >Dinner and overnight in CAMPS. </p>
<h4 class="  bg-title" >DAY 7 : DOGAL BITTA / CHOPTA/ MUSK DEER FARM/SHIVPURI</h4>
<p >Morning after breakfast walk to Kedarnath Musk Deer sanctuary. </p>
<p >Arrive and commence drive to Rishikesh. We drive through the thick forests of
    sanctuary till we reach mandal. Later we drive along the roaring Alaknanda river .</p>
<p >Lunch enroute</p>
<p >Arrive and transfer to Himalayan Retreat Eco Camp resort. </p>
<p >Evening Camp fire and Dinner. Overnight High Bank Himalayan Retreat. </p>
<h4 class="  bg-title" >DAY 8 : SHIVPURI / RISHIKESH RAFTING 3-4 HOURS HARIDWAR / DELHI
</h4>
<p >Morning after breakfast, proceed for special rafting run with safety Kayaks &amp;
    dukkies.</p>
<p >Today we raft down from Shivpuri to Muni Ki Reti (17 Kms). We hit good morning,
    return to sender, Roller Coaster, Golf Course and Club House , Initiation, Double Trouble, Hilton &amp;
    Terminator. One can try cliff Jump and body Surfing on this section. Try a hand on Dukies (Inflatable Kayak)
    near the camp. In the later part we float past temples and ashrams and Ghats enjoying the river bank life along
    the Ganga.</p>
<p >Lunch and wash and Change at High Bank. </p>
<p >In time departure transfer to the Railway Station to connect Train to New Delhi.
</p>
<p >Dep: 1815 hrs<br>Arr : 2245 hrs</p>
<p >Assistance on arrival at Delhi railway station and transfer to International
    airport to connect for your onward return flight back home.</p>
<p ><b>END OF THE TOUR</b></p>


                            </div>

                        </div>











                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>