
   <div>
    <div id="siteLoader" class="site-loader">
       <div class="preloader-content">
          <img src="assets/images/loader1.gif">
       </div>
    </div>
    <div id="page" class="page">
       <!-- ***site header html start*** -->
       <app-header></app-header>
       <main id="content" class="site-main">
          <section class="booking-inner-page">
             <!-- ***Inner Banner html start form here*** -->
             <div class="inner-banner-wrap">
                <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                   <div class="container">
                      <div class="inner-banner-content">
                         <h1 class="page-title">All India Destinations</h1>
                      </div>
                   </div>
                </div>
             </div>
             <!-- ***Inner Banner html end here*** -->
             <div class="booking-section">
             
                <div class="container">
                 
                   <div class="row">
                      <div class="col-lg-12 right-sidebar">
                          <div class="price-table-summary" style="margin-bottom: 0px;">
                              <h4 class="bg-title">All India Tour Itineraries </h4>
                              
                              <p >take you to the explored and unexplored parts of the mystical land, the Incredible India. India Travel Packages lets you explore the unknown, unheard and mystical parts of India. From snow-clad peaks to backwaters, from beaches to ancient monuments, India attractions are unlimited. So, choosing the right India Travel Guide is a must. Travel to India to discover every fascinating element of India. Take part in the various fairs and festivals of this land by opting for the best Inbound Travel Agency in India. India tourism also provides several options for adventure sports. So, gear on for it!</p>
                           </div>
                           
                         <!-- step one form html start -->
                        
                         <!-- step one form html end -->
                      </div>
                    
                      <div class="destination-section">
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_amazing.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a href="destination.html">09 Nights / 10 Days</a>
                                    </span>
                                    <h3>
                                       <a href="package-detail.html">Amazing Temple Tour</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center" routerLink="/temple-tour"><a  routerLink="/temple-tour" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                         
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_ladakh.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a href="destination.html">05 Nights / 6 Days</a>
                                    </span>
                                    <h3>
                                       <a >Beautiful North India</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/north-india" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_kerla1.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/kerala">14 Nights / 15 Days</a>
                                    </span>
                                    <h3>
                                       <a >Best of Kerala</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/kerala" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_bestofsouth.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/south-india">20 Nights / 21 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/south-india">Best of South India</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a routerLink="/south-india" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_esi.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/e-south-india">8 Nights / 9 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/e-south-india">Enchanting South India </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/e-south-india" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_budhha.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/lord-buddha">6 Nights / 7 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/lord-buddha">Footprints of Lord Buddha</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/lord-buddha"class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_gujart1.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a  routerLink="/Gujarat">20 Nights / 21 Days</a>
                                    </span>
                                    <h3>
                                       <a  routerLink="/Gujarat">Central India & Gujarat</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a   routerLink="/Gujarat" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_Karnatka.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/C-SouthIndia">14 Nights / 15 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/C-SouthIndia">Classical South India </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/C-SouthIndia" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_rajasthan1.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/ColorsOfRajasthanComponent">15 Nights / 16 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/ColorsOfRajasthanComponent">Colors of Rajasthan</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/ColorsOfRajasthanComponent" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_culture.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/CULTURE-TOUR">6 Nights / 7 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/CULTURE-TOUR"> Culture Tour</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/CULTURE-TOUR" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_delhi.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/DELHISRINAGARAGRAJAIPUR">8 Nights / 9 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/DELHISRINAGARAGRAJAIPUR">Delhi - Srinagar - Agra - Jaipur (GIT) </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a routerLink="/DELHISRINAGARAGRAJAIPUR" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_buddha1.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/ENLIGHTENMENTOFBUDDHATOUR">10 Nights / 11 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/ENLIGHTENMENTOFBUDDHATOUR">Enlightenment of Buddha Tour</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/ENLIGHTENMENTOFBUDDHATOUR" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_goa1.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/ExoticGoa">6 Nights / 7 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/ExoticGoa"> Exotic Goa</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/ExoticGoa" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_Ranthambore.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/GOLDENTRIANGLEOFRANTHAMBORE">7 Nights / 8 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/GOLDENTRIANGLEOFRANTHAMBORE">Golden Triangle of Ranthambore </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/GOLDENTRIANGLEOFRANTHAMBORE" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_punjab.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/GT-OR-GOLDENTEMPLE">6 Nights / 7 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/GT-OR-GOLDENTEMPLE">GT + Golden Temple (Amritsar)r</a>
                                    </h3>
                                    <div  routerLink="/GT-OR-GOLDENTEMPLE"><a  routerLink="/ExoticGoa" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                       
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_vns_hjr.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/DELHI–VARANASI–KHAJURAHO–ORCHA–AGRA–JAIPUR–DELHI">8 Nights / 9 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/DELHI–VARANASI–KHAJURAHO–ORCHA–AGRA–JAIPUR–DELHI"> Delhi – Varanasi – Khajuraho – Orcha – Agra – Jaipur – Delhi </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a routerLink="/DELHI–VARANASI–KHAJURAHO–ORCHA–AGRA–JAIPUR–DELHI"class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_khujraho.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/D-VARA-KHAJ-ORCHA-AGRA-JAIP-JODH-UDA-M">11 Nights / 12 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/D-VARA-KHAJ-ORCHA-AGRA-JAIP-JODH-UDA-M">DELHI- VARANASI – KHAJURAHO – ORCHA – AGRA – JAIPUR – JODHPUR – UDAIPUR – MUMBAI </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/D-VARA-KHAJ-ORCHA-AGRA-JAIP-JODH-UDA-M" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_Karnatka.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/Karnatka-Goa-Tour">>9 Nights / 10 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/Karnatka-Goa-Tour">Karnatka Goa Tour</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/Karnatka-Goa-Tour" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_Kashmir.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/KASHMIR-PARADISE">11 Nights / 12 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/KASHMIR-PARADISE"> Kashmir Paradise Tour </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/KASHMIR-PARADISE" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_kerla.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a  routerLink="/kerla-blackwater">7 Nights / 8 Days</a>
                                    </span>
                                    <h3>
                                       <a  routerLink="/kerla-blackwater">Kerla Blackwaters </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a   routerLink="/kerla-blackwater" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_esi.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/MumbaiWithKerala">8 Nights / 9 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/MumbaiWithKerala">Mumbai with kerala</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a routerLink="/MumbaiWithKerala" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
   
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_Uttrakhand.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/NINatureAndAdvantureTure" >7 Nights / 8 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/NINatureAndAdvantureTure" > North India Nature and Adventure tour </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a routerLink="/NINatureAndAdvantureTure"  class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_odissa.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/Orissa-Golden-Triangle" >4 Nights / 5 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/Orissa-Golden-Triangle" >Orissa Golden Triangle Tour </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a routerLink="/Orissa-Golden-Triangle"  class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_rajasthan1.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a  routerLink="/Rajasthan-Cultural">11 Nights / 12 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/Rajasthan-Cultural">Rajasthan Cultural</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a   routerLink="/Rajasthan-Cultural" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_rajasthanfort.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a  routerLink="/Amarnath">14 Nights / 15 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/Amarnath"> Amarnath </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a   routerLink="/Amarnath" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_Rishikesh.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/RishikeshDevprayagRajasthan">13 Nights / 14 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/RishikeshDevprayagRajasthan">Rishikesh Devprayag Rajasthan </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a routerLink="/RishikeshDevprayagRajasthan"class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_bestofsouth.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/SouthIndiaTour">8 Nights / 9 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/SouthIndiaTour">South India Tour</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/SouthIndiaTour" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_banglore.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/bangalore-mysore-ooty" >5 Nights / 6 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/bangalore-mysore-ooty" >Bangalore/Mysore/ Ooty </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/bangalore-mysore-ooty" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_rajasthan.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a  routerLink="/West-India-CultureAndBeach">8 Nights / 9 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/West-India-CultureAndBeach">Vibrant Rajasthan with Golden Triangle </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a   routerLink="/West-India-CultureAndBeach" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_goa.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a  routerLink="/WestIndiaCulture">8 Nights / 9 Days</a>
                                    </span>
                                    <h3>
                                       <a  routerLink="/WestIndiaCulture">West India Culture and Beach</a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a   routerLink="/WestIndiaCulture" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6">
                              <article class="destination-item" style="background-image: url(assets/images/tour_dharamsala.jpg);">
                                 <div class="destination-content">
                                   
                                    <span class="cat-link">
                                       <a routerLink="/YogaMeditian">6 Nights / 7 Days</a>
                                    </span>
                                    <h3>
                                       <a routerLink="/YogaMeditian">Yoga meditian tour Dharamsala </a>
                                    </h3>
                                    <div  class="section-btn-wrap text-center"><a  routerLink="/YogaMeditian" class="round-btn">View Detailed Itinerary </a></div>
                                 </div>
                              </article>
                           </div>
                          
                        </div>
                       
                     </div>

                             
                   </div>
                </div>
          </div>
          </section>
       </main>
       <!-- ***site footer html start form here*** -->
       <footer id="colophon" class="site-footer footer-primary">
          <div class="top-footer">
             <div class="container">
                <div class="upper-footer">
                   <div class="row">
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <div class="footer-logo">
                               <a href="index.html"><img src="assets/images/site-logo.png"></a>
                            </div>
                            <div class="textwidget widget-text">
                               Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium magna conubia at perferendis, pretium, aenean aut ultrices.
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_latest_post widget-post-thumb">
                            <h3 class="widget-title">RECENT POST</h3>
                            <ul>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img21.jpg"></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img22.jpg"></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                            </ul>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <h3 class="widget-title">CONTACT US</h3>
                            <div class="textwidget widget-text">
                               <p>Feel free to contact and<br/> reach us !!</p>
                               <ul>
                                  <li>
                                     <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                     </a>
                                  </li>
                                  <li>
                                     <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                     </a>
                                  </li>
                                  <li>
                                     <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                     3146 Koontz, California
                                  </li>
                               </ul>
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget">
                            <h3 class="widget-title">Gallery</h3>
                            <div class="gallery gallery-colum-3">
                               <figure class="gallery-item">
                                  <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img21.jpg">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img22.jpg">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img23.jpg">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img24.jpg">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img25.jpg">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img26.jpg">
                                  </a>
                               </figure>
                            </div>
                         </aside>
                      </div>
                   </div>
                </div>
                <div class="lower-footer">
                   <div class="row align-items-center">
                      <div class="col-lg-6">
                         <div class="footer-newsletter">
                            <p>Subscribe our newsletter for more update & news !!</p>
                            <form class="newsletter">
                               <input type="email" name="email" placeholder="Enter Your Email">
                               <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                            </form>
                         </div>
                      </div>
                      <div class="col-lg-6 text-right">
                         <div class="social-icon">
                            <ul>
                               <li>
                                  <a href="https://www.facebook.com/" target="_blank">
                                     <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.twitter.com/" target="_blank">
                                     <i class="fab fa-twitter" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.youtube.com/" target="_blank">
                                     <i class="fab fa-youtube" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.instagram.com/" target="_blank">
                                     <i class="fab fa-instagram" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.linkedin.com/" target="_blank">
                                     <i class="fab fa-linkedin" aria-hidden="true"></i>
                                  </a>
                               </li>
                            </ul>
                         </div>
                         <div class="footer-menu">
                            <ul>
                               <li>
                                  <a href="policy.html">Privacy Policy</a>
                               </li>
                               <li>
                                  <a href="policy.html">Term & Condition</a>
                               </li>
                               <li>
                                  <a href="faq.html">FAQ</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="bottom-footer">
             <div class="container">
                <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
             </div>
          </div>
       </footer>
       <!-- ***site footer html end*** -->
       <a id="backTotop" href="#" class="to-top-icon">
          <i class="fas fa-chevron-up"></i>
       </a>
       <!-- ***custom search field html*** -->
       <div class="header-search-form">
          <div class="container">
             <div class="header-search-container">
                <form class="search-form" role="search" method="get" >
                   <input type="text" name="s" placeholder="Enter your text...">
                </form>
                <a href="#" class="search-close">
                   <i class="fas fa-times"></i>
                </a>
             </div>
          </div>
       </div>
       <!-- ***custom search field html*** -->
       <!-- ***custom top bar offcanvas html*** -->
       <div id="offCanvas" class="offcanvas-container">
          <div class="offcanvas-inner">
             <div class="offcanvas-sidebar">
                <aside class="widget author_widget">
                   <h3 class="widget-title">OUR PROPRIETOR</h3>
                   <div class="widget-content text-center"> 
                      <div class="profile"> 
                         <figure class="avatar"> 
                            <img src="assets/images/img21.jpg"> 
                         </figure> 
                         <div class="text-content"> 
                            <div class="name-title"> 
                               <h4> James Watson</h4> 
                            </div> 
                            <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p> 
                         </div> 
                         <div class="socialgroup"> 
                            <ul> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li> 
                            </ul> 
                         </div> 
                      </div> 
                   </div>
                </aside>
                <aside class="widget widget_text text-center">
                   <h3 class="widget-title">CONTACT US</h3>
                   <div class="textwidget widget-text">
                      <p>Feel free to contact and<br/> reach us !!</p>
                      <ul>
                         <li>
                            <a href="tel:+01988256203">
                               <i aria-hidden="true" class="icon icon-phone1"></i>
                               +01(988) 256 203
                            </a>
                         </li>
                         <li>
                            <a href="mailtop:info@domain.com">
                               <i aria-hidden="true" class="icon icon-envelope1"></i>
                               info@domain.com
                            </a>
                         </li>
                         <li>
                            <i aria-hidden="true" class="icon icon-map-marker1"></i>
                            3146 Koontz, California
                         </li>
                      </ul>
                   </div>
                </aside>
             </div>
             <a href="#" class="offcanvas-close">
                <i class="fas fa-times"></i>
             </a>
          </div>
          <div class="overlay"></div>
       </div>
       <!-- ***custom top bar offcanvas html*** -->
    </div>


   
 </div>
