<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">Yoga meditian tour Dharamsala

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">(06 Nights/07 Days)</h2>


                                </div>
                                <!-- <h3>Destinations: Delhi –Udaipur –Ranakpur –Udaipur –Jodhpur –Jaipur -Agra – Delhi</h3> -->


                                <div class="price-table-summary">
                                <h5 class="bg-title">DAY 1 : ARRIVE DELHI</h5>
                                <p> Meeting and assistance on arrival at Delhi by our representative and transfer to
                                    hotel. (Hotel Check-in time is 1400 hrs).</p>
                                <p><b>Delhi</b><br>
                                    India's largest city, Delhi, has been one of the countrys commercial and economic hubs for centuries and, as a
                                    result, is incredibly rich in culture and history. Made up of the ancient walled city of Old Delhi and the more
                                    modern sector, New Delhi, the city encompasses a staggering array of beautiful architecture, notable monuments
                                    and age-old temples, including three UNESCO World Heritage Sites the Red Fort, Qutab Minar and Humayun's Tomb.
                                    Other key attractions include the 17th century Chandni Chowk marketplace still one of the citys most popular
                                    retail centres today, particularly for jewellery and traditional Indian saris; the iconic Bahi Lotus Temple an
                                    award-winning architectural gem; and the Jama Masjid, Indias largest mosque.</p>
                                <p>Overnight at hotel in DELHI.</p>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">

<h5 class="bg-title" >DAY 2 : DELHI</h5>
<p >Breakfast at hotel </p>
<p >Sightseeing Delhi - Visit Jama Masjid, enjoy a Bi Cycle Rickshaw Ride, Raj Ghat,
    Red Fort (Photo stop only). </p>
<p >Lunch at Local Restaurant.</p>
<p >Later visit Parliament House, President House, visit Qutab Minar&amp; Laxmi Narayan
    Temple.</p>
<p >Dinner at Local restaurant.</p>
<p >Overnight at Hotel.</p>
<h5 class="bg-title" >DAY 3 : DELHI/CHANDIGARH/DHARAMSALA </h5>
<p >In time departure transfer to the Railway Station to connect Train to Chandigarh.
</p>
<p >Dep: 0740 hrs<br>Arr : 1105 hrs</p>
<p >Packed breakfast in train.</p>
<p >On arrival drive to Dharamsala.(250 kms/ 06 hr )</p>
<p >En route lunch at restaurant.</p>
<p ><b>Dharamsala</b><br>
    Situated in the upper reaches of the Kangra Valley, Dharamsala is one of HimalPradeshs most irresistible
    destinations. Famous as the home of the exiled Dalai Lama, this small market town is the centre of the Tibetan
    world in India. Most travellers head 10 kilometres uphill to the suburb of McLeod Ganj, also known as Upper
    Dharamsala. Surrounded by dense coniferous forest, this beautiful hill station attracts Buddhists, pilgrims,
    students and bohemian travellers seeking spiritual enlightenment and a possible encounter with this holy man. A
    worthwhile one-day trek, about nine kilometres from McLeod Ganj, is Triund Hill, described as heaven on earth
    for nature lovers.</p>
<p >Dinner and Overnight at Dharamsala.</p>
<h5 class="bg-title" >DAY 4 : DHARAMSALA</h5>
<p >Breakfast at hotel.</p>
<p >Drive to Tushita Mediation Centre, Dharamkot to attend the morning meditation drop
    in class at 0900 hrs. </p>
<p >After one hour meditation walk from Dharamkot to Naddi.</p>
<p >Lunch at restaurant.</p>
<p >Afternoon drive to Mcleodganj (5 kms/30 min).</p>
<p >Visit the Gedenchoeling nunnery for the evening pooja ceremony. </p>
<p >Evening free to explore the Mcleodganj market. </p>
<p >Dinner and Overnight at Hotel.</p>
<h5 class="bg-title" >DAY 5 : DHARAMSALA</h5>
<p > Morning drive to Bhagsu to attend the Yoga class at 0800 hrs. </p>
<p >After Yoga drive back to hotel for breakfast.</p>
<p >Later drive to lower Dharamshala to visit Norbulingka Institute which is the Centre
    for preserving Tibetan art like Thangka painting, applique thangka, wooden and metal works etc. </p>
<p >Lunch at Norbulingka. </p>
<p >Afternoon drive back to Mcleodganj to visit - Old St. Johns Church, Dalai Lama
    temple. </p>
<p >Evening free in Mcleod Ganj market. </p>
<p >Dinner and overnight at hotel.</p>
<h5 class="bg-title" >DAY 6 : DHARAMSALA/CHANDIGARH/DELHI</h5>
<p >Breakfast at hotel.</p>
<p >Drive to Chandigarh (250kms/06 hrs).</p>
<p >Lunch at local restaurant.</p>
<p >In time departure transfer to the Railway Station to connect Train to Delhi.</p>
<p >Dep: 1825 hrs<br>Arr : 2155 hrs</p>
<p >Assistance on arrival and transfer straight to hotel.</p>
<p >Dinner &amp; Overnight stay at hotel.</p>
<h5 class="bg-title" >DAY 7 :DEPARTURE DELHI</h5>
<p > Breakfast at hotel.</p>
<p >Board early morning flight for onward Journey</p>
<p ><b></b>End of the Tour</p>



                                </div>
                            </div>


                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>

