<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">Mumbai with Kerala

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">07 Nights/08 Days</h2>


                                </div>
                                <h3>Destinations : Mumbai – Cochin -Munnar – Periyar– Kumarakom - Alleppy – Kovalam -
                                    Trivandrum</h3>
                                <div class="price-table-summary">
                                    <h4 class=" bg-title">Day 01 : Arrive Mumbai </h4>
                                    <img src="assets/images/mk1.png" alt="" class="img-responsive"
                                        style="margin-bottom:20px">
                                    <p>Mumbai (previously known as Bombay) is the biggest metropolis of India. A city
                                        that
                                        is full of life and is also known for its well known tourists places, commercial
                                        hubs and government bodies. It
                                        is also known as the financial, commercial and entertainment capital of India.
                                        It is also one of the world's top
                                        ten centres of commerce in terms of global financial flow.</p>
                                    <p>On Arrival at Mumbai International airport, meet &amp; greet with Indian
                                        traditional welcoming style by our tour representative .Then transfer you to
                                        hotel</p>

                                    <p>Overnight at Mumbai</p>
                              

                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>




                        <div class="price-table-summary">


                            <h4 class=" bg-title">Day 02 : Mumbai – Cochin (By Flight AI 681 @ 1910 / 2105 Hours )
                            </h4>
                            <img src="assets/images/mk2.png" style="width: 97%;" alt="" class="img-responsive" style="margin-bottom:20px">
                            <p>In the morning taking Delicious breakfast at hotel then embark for Mumbai city tour
                                and visit Elephanta Caves - The Elephanta caves are "of unknown date and attribution".
                                Art historians have dated
                                the caves in the range of late 5th to late 8th century AD.Gateway Of India - Mumbai's
                                most famous landmark, The
                                Gateway of India, is situated at Apollo Bunder. It was designed by George Wikket. It was
                                built to commemorate
                                the visit of King George V and Queen Mary to India in 1911, Taj Mahal Palace Hotel, Mani
                                Bhawan - Located on
                                leafy Laburnum Road, a quiet lane named after its shady trees, Mani Bhawan is the old
                                Mumbai residence of
                                Mahatma Gandhi. It's a pretty, two-storied structure that now houses a reference library
                                with over 2000 books, a
                                photo exhibition of the Mahatma's life, and well preserved memorabilia, including an old
                                charkha or spinning
                                wheel that Gandhiji used to use. The Prince of Wales Museum - This museum stands not too
                                far from the Gateway of
                                India. It has a priceless collection of art, sculpture, china and other antics.
                                Carefully preserved, this
                                mid-Victorian Gothic style building built in 1904 with beautiful gardens. In the evening
                                take a flight for
                                Cochin.</p>

                            <p>Overnight at Cochin</p>

                            <h4 class=" bg-title">Day 03 : Cochin </h4>
                            <img src="assets/images/mk3.png" style="width: 97%;" alt="" class="img-responsive" style="margin-bottom:20px">
                            <p>Cochin which is known as “Queen of Arabian sea” &amp; Cochin is also referred to as
                                “the Gateway to Kerala”. Kochi was an important spice trading centre on the west coast
                                of India from the 14th
                                century. Beside this, Occupied by the Portuguese Empire in 1503, Kochi was the first of
                                the European colonies in
                                colonial India. This lovely seaside city is flanked by the Western Ghats on the east and
                                the Arabian Sea on the
                                west. Its proximity to the equator, the sea and the mountains provide a rich experience
                                of a moderate equatorial
                                climate</p>
                            <p>In the Morning go for full day Cochin tour. First we will visit Fort Cochin- Fort
                                Kochi is a region in the city of Kochi in the state of Kerala, Chinese Fishing Net - The
                                Chinese fishing nets
                                (Cheenavala) are distinctly unique to Cochin. It is believed that traders from the court
                                of the Chinese ruler
                                Kublai Khan introduced these nets here. Oddly, these nets are found only in Kochi,
                                outside China! Many fishermen
                                earn their livelihood by fishing using these massive nets. A whole stretch of the coast
                                along Fort Kochi and
                                Vypeen are dotted with these nets.Navy Museum, then visit St. Francis Church - It is the
                                oldest church built by
                                Europeans in India. On his 3rd visit to Kerala, Vasco da Gama, the Portuguese trader who
                                reached India from
                                Europe by sea, fell ill and died in Kochi. He was buried in the St. Francis Church.
                                Later his remains were taken
                                back to Portugal. In spite of that, his burial spot inside the church has been clearly
                                marked out. After this
                                visit Santa Cruz Basilica –that Church issituated in Fort Kochi, was built by the
                                Portuguese in 1505 and named
                                as a cathedral in 1558. The British colonists destroyed the cathedral in 1795. The
                                current structure was built
                                in 1905 and raised to the status of a basilica by Pope John Paul II in 1984.Then see
                                this one of beautiful
                                attraction of Cochin, Mattancherry Palace - The Dutch Palace was originally built by the
                                Portuguese. Later, in
                                17th century, the Dutch modified it and presented it to the Raja of Kochi. Coronations
                                of many Rajas of Kochi
                                were held here. The palace has a fine collection of mural paintings depicting scenes
                                from the Hindu epics
                                Mahabharata and Ramayana. Jewish Synagogue- The synagogue, built in 1568, is
                                magnificently decorated by Chinese
                                tiles and Belgian chandeliers. Giant scrolls of the Old Testament can be found here. And
                                In the evening visit
                                Marine drive after this back to hotel. </p>
                            <p>Overnight Stay at Cochin</p>
                            <h4 class=" bg-title">Day 03 : Cochin – Munnar(130 Kms/ 03 Hours)</h4>
                            <img src="assets/images/mk4.png" alt="" style="width: 97%;" class="img-responsive" style="margin-bottom:20px">
                            <p>After breakfast drive to Munnar. Munnar – is Located at an altitude of 1600m, at
                                the confluence of the Muthirappuzha, Chadavurai, and Kundaly rivers, it was once the
                                summer resort of the
                                British. Munnar holds great appeal for those with an appreciative eye for exquisite
                                beauty - from unending
                                expanse of tea plantations to pristine valleys and the verdant mountains of the Western
                                Ghats; and from national
                                parks and sanctuaries teeming with wildlife, to the beautiful lakes. On the way visit
                                Kodanadu Elephant care
                                centre, Cherraya Waterfall, vallara waterfalls, and attakudu waterfalls. And after reach
                                there visit Tea Museum
                                and in the evening free for relaxation.</p>
                            <p>Overnight stay at Munnar.</p>
                            <h4 class=" bg-title">Day 04 : Munnar – Periyar (95 kms / 03 hours)</h4>

                            <p>Morning after breakfast visit Mattupetty Dam and see the sprawling tea gardens
                                &amp; Plantation. Post Lunch proceeds to Periyar and evening take enjoy of boat ride.
                                Then stay at hotel.</p>
                            <p>Overnight at Thekkady</p>
                            <h4 class=" bg-title">Day 04 : Periyar </h4>
                            <img src="assets/images/mk5.png" style="width: 97%;" alt="" class="img-responsive" style="margin-bottom:20px">
                            <p>The Periyar wild life sanctuary in Trekked is spread across 777 sq km of which 360
                                sq km is thick ever green forest. Noted for its geomorphology, diversity of wild life
                                and scenic beauty, the
                                sanctuary was declared a Tiger Reserve in 1978. Optional activities like Boating at
                                Periyar Lake, Spice
                                Plantation visit, Bamboo Rafting, Trekking and Elephant Ride can be done on an extra
                                cost. Overnight stay is
                                arranged in Thekkady.</p>
                            <p>Overnight at Thekkady</p>
                            <h4 class=" bg-title">Day 05 : Periyar – Kumarakom (111 Kms / 04 hours)</h4>
                            <img src="assets/images/mk6.png" style="width: 97%;" alt="" class="img-responsive" style="margin-bottom:20px">
                            <p>Morning take breakfast and move toward Kumarakom.labyrinth of backwaters with
                                shimmering water, the brilliant green of mangrove forests, coconut palms lining the
                                embankments, blue skies,
                                flocks of migratory birds skimming the water and you begin to understand that Kumarakom,
                                a cluster of little
                                islands on the on the eastern banks of Vembanad Lake in God’s Own Country, is a
                                veritable dreamland. After
                                reaching there explore that exquisite backwater destination. </p>
                            <p>Overnight stay at Kumarakom</p>
                            <h4 class=" bg-title">Day 06 Kumarakom – Alleppy (32 Kms / 01 Hours)</h4>
                            <img src="assets/images/mk7.png" alt="" style="width: 97%;" class="img-responsive" style="margin-bottom:20px">
                            <p>
                                Post breakfasts go to Alleppy and this laid-back market town Alappuzha, previously known
                                as Alleppy, is built on
                                canals that form a web, which serves the coir industry. All around are coconut palms,
                                and obviously, coir
                                making, boat building, toddy tapping and fish farming are mainstays of the village
                                economy. Then you are free
                                for sought that place own. Full day at leisure</p>
                            <h4 class=" bg-title">Day 07 Alleppy – Kovalam (159 Kms / 03 Hours)</h4>

                            <p>Morning after taking breakfast drives to Kovalam and explore the magnificent and
                                stunning beaches. Full day at leisure</p>

                            <p>Overnight at Kovalam</p>

                            <h4 class=" bg-title">Day 08 : Kovalam–Trivandrum</h4>
                            <img src="assets/images/mk8.png" alt="" style="width: 97%;" class="img-responsive" style="margin-bottom:20px">
                            <p>Once a calm fishing village clustered around its crescent beaches, Kovalam today is
                                Kerala’s most developed resort. The main stretch, Lighthouse Beach, is touristy with
                                hotels and restaurants
                                built up along the shore, while Hawa Beach to the north is usually crowded with
                                day-trippers heading straight
                                from the taxi stand to the sand. Neither beach is particularly clean, but at less than
                                15km from the capital
                                it's a convenient place to have some fun by the sea, there's some promising surf, and it
                                makes a good base for
                                ayurvedic treatments and yoga courses.
                            </p>
                            <p>Morning after breakfast drive Trivandrum. After reach there visit Trivandrum
                                -Thiruvananthapuram ("City of the Sacred Serpent"), the capital of Kerala, is bounded by
                                the Arabian Sea on the
                                west. Also known as Trivandrum in the popular parlance the city is home to temples and
                                museums. After reach
                                there visit Padmanabhaswamy temple - The temple is built in Dravidian style of
                                architecture associated with the
                                temples located in the neighboring state of Tamil Nadu, featuring high walls and a
                                16th-century Gopuram. While
                                the Moolasthanam of the temple is the Ananthapuram Temple in Kasargod, architecturally
                                to some extent, the
                                temple is a replica of the Adikesava Perumal temple located in Kanyakumari District. It
                                is the richest Hindu
                                temple in the world. Then visit The Napier Museum -Built in the 19th century, the Indo -
                                Saracenic structure
                                boasts a "natural" air-conditioning system and houses a rare collection of
                                archaeological and historic
                                artefacts, bronze idols, ancient ornaments, a temple chariot and ivory carvings. After
                                this visit Sree Chithra
                                Art Gallery.
                            </p>
                            <p>Later take a flight for your next destination. </p>

                        </div>











                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>