<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">A Journey to South India

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">(08 Nights/ 09 Days)</h2>


                                </div>
                                

                                <div class="price-table-summary">
                                    <h4 class="bg-title">Day 01: Arrive Chennai by flight </h4>
                                    <p><img src="assets/images/s5.png" alt="" style="width:200px; float:right; padding-left:15px; padding-bottom:15px">
                                        Morning after breakfast, depart
                                        for Trichy en route visit Chidambaram and Tanjavur (Tanjore). </p>
                                    <p>eet and garland upon arrival in Chennai. Transfer to Hotel. The gateway to the south and the capital of the state of
                                    Tamil Nadu, Madras or Chennai is a vibrant metropolis and a combination of old world charm and modern day efficiency.
                                    After lunch city tour of Chennai visiting Fort St. George, the seat of the state government and the legislative
                                    assembly. The fort was built in 1652 by the British East India Company. The fort contains the fort museum with its
                                    collection of memorabilia of the East India co, also visit Government Museum and San Thomas Cathederal.
                                    
                                    </p>

                                    <p>Overnight stay at hotel.</p>

                                    <h4 class="bg-title">DAY 02: DELHI / HARIDWAR</h4>
                                    <p>Morning drive to Haridwar. Upon arrival Transfer to hotel by AC transport. </p>
                                    <p>After lunch visit Har Ki Pauri and Temple. Evening enjoy Aarti ceremony at River
                                        Ganges.</p>

                                    <p>Overnight stay at hotel. </p>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">





 
    <h4 class="bg-title" >Day 02 Chennai-Kanchipuram-Mahabalipuram </h4>
    <p ><img src="assets/images/s2.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px"> Morning after breakfast, depart
        for Kanchipuram (Approx 1 hr drive), Kanchipuram (64 kms from Chennai) is the ancient capital of the Pallavas
        famous as a city of 1000 Temples and still has 124 shrines. The first temple dedicated to Shiva was built in the
        7th and 8th century and has paintings on the walls. Temples of Ekambaswara, Kailasanatha, Sri Kamakshi and
        Varadarajaswamy are of interest. Kanchipuram is also famous for its silks. </p>
    <p ><img src="assets/images/s3.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px">
        After lunch drive to Mahabalipuram. Upon arrival visit the magnificent rock temples and carvings in
        Mahabalipuram. Five Rathas (chariots), ceremonial chariots, rock-cut monoliths, named after the 5 Pandavas. The
        Shore Temple by the sea surrounded by gardens designed according to descriptions of the original layout from
        ancient times. Bhagiratha’s Penance is a bas- relief (27 to 9m) sculptured on the face of two enormous adjacent
        rocks, depicts, the penance of Arjuna, myraid characters from the Mahabharata, realistic life-size figures of
        animals , gods and saints watching the descent of the river goddess Ganga to earth.
    </p>
    <p >
        Overnight stay at hotel. </p>

    <h4 class="bg-title" >Day 03 Mahabalipuram – Puducherry (95 Kms/02 Hrs) </h4>

    <p ><img src="assets/images/s4.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px">
        Morning after breakfast, depart for Puducherry and transfer to Hotel. Puducherry was a French settlement that
        comprised Pondy, Yanam, Karaikal, and Mahe. There is a strong influence of French culture on Puducherry town,
        especially on its architecture, a result of the centuries-old relations this place maintained with France. Later
        visit Sri Aurobindo Ashram - The ashram was founded in 1920 when Sri Aurobindo reached Pondicherry, a French
        colony and put in place his ideas of peaceful community. Pondicherry Museum Situated in the Government Park -
        Museum has a very good sculpture gallery and a section of archaeological finds from the Roman settlement at
        Arikamedu. There is also a superb collection of the snail shells from the Pondicherry Region. Later visit Church
        of the Sacred Heart of Jesus - built in the Gothic style, this massive church is one of the most beautiful
        churches in Puducherry.
    </p>
    <p >
        Overnight stay at hotel. </p>

    <h4 class="bg-title" >Day 04: Puducherry – Chidambram – Tanjore - Trichy </h4>

    <p ><img src="assets/images/s5.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px"> Morning after breakfast, depart
        for Trichy en route visit Chidambaram and Tanjavur (Tanjore). </p>
    <p >Thanjavur - was the ancient capital of the Chola kings whose origins, go back to
        the beginning of the Christian era. Probably the greatest chola emperors were Raja Raja who was responsible for
        building the Brihadishwara Temple. Afternoon sightseeing tour of Tanjore - was the capital of the Chola Empire
        from the tenth to the fourteenth centuries. A Chola king, Raja Raja Chola, who held the throne from 985 to 1016,
        built the greatest of the empire's 74 temples, the Brahadeeswarar, with its soaring tower over the inner
        sanctum. This tower rises more than 62 meters (200 feet). On its dome rests a single block of granite weighing
        80 tons. After sightseeing of Thanjavur, continue to drive towards Trichy. Tiruchirapalli, called Tiruchi or
        Trichy in Short, was built by the Nayak rulers of Madurai around a rock fort. Tiruchi is on the banks of the
        Kaveri river and is famous for the Ranganatha Temple at Srirangam, 10 km away.
    </p>
    <p >
        Overnight stay at hotel.</p>

    <h4 class="bg-title" >Day 05: Trichy-Madurai (158 Kms/ 04 Hrs)</h4>
    <p ><img src="assets/images/s6.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px"> After breakfast, you will go for
        sightseeing of Trichy. Visit the 'Rock Fort Temple’ which rises abruptly to a height of 273 ft. A steep
        staircase cut into the rock leads upto the Fort. At the first level are the remnants of a huge hall blasted into
        ruins in 1772. After sightseeing leave for Madurai - situated on the banks of river Vaigai, Madurai is more than
        2,500 years old and has a rich cultural heritage and history. Madurai was an important cultural and commercial
        centre even as early as 550 AD. Madurai was the capital city for the great Pandya kings. Later visit Tirrumalai
        Nayak Palace and Thirumohur (1O km). This place has its legendary origin in the distant past when Devas (Gods)
        and Asuras (Demons) churned the ocean to get Amritham (nectar).
    </p>
    <p >
        Overnight stay at hotel. </p>

    <h4 class="bg-title" >Day 06: Madurai – Cochin (284 Kms/06 Hrs) </h4>
    <p ><img src="assets/images/s7.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px"> Morning after breakfast, drive to
        Cochin. Arrive Cochin and check – in at hotel. </p>
    <p >After lunch visit Visit Dutch Palace - The Dutch palace at Mattanc herry was
        actually built by the Portuguese and presented to the Cochin Raja in AD 1555. Later visit Jewish Synagogue - at
        the heart of what is locally called the Jew Town lies the synagogue of the white Jews near Mattancherry palace.
        The synagogue is now a fascinating mixture of shops, warehouses and spice auction rooms. ST. Francis Church -
        The oldest European church in India, St. Francis Church was built in the early 16th century. Also visit Chinese
        fishing nets - a very popular tourist attraction. Evening enjoy Kathakali Dance show. </p>

    <p >Overnight stay at hotel.</p>

    <h4 class="bg-title" >Day 07: Cochin/Alleppey (62 Kms/1.5 Hrs) </h4>
    <p ><img src="assets/images/s8.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px"> Morning after breakfast, drive to
        Alleppey. Transfer to boat jetty to board houseboat. The backwater cruise through the narrow canals that
        criss-cross a typical Kerala Village, rich with green paddy fields and verdant coconut trees and is a thrilling
        experience. The boat cruise takes you to small islets tucked away amidst those waters where you get glimpses of
        village at the best of its serenity and innocence. Watch village belles picking mussels, while their men folk
        collect sand from the bottom of the canal. Watch the village folk make the golden fiber called coir from coconut
        husk and transform it into various coir products. Rustling coconut groves abound. So stop over to drink calm
        fresh coconut water and watch the toddy-tapper tap at work. Watch birds like kingfishers; crow pheasants,
        cormorants, drongos, woodpecker, Bee-eater, kite etc. Parrot green paddy fields sway like a chorus. Lunch and
        dinner will be served on board.</p>

    <p >Overnight onboard houseboat.</p>

    <h4 class="bg-title" >Day 08: Alleppey – Thiruvananthapuram (130 Kms/03 Hrs) </h4>
    <p ><img src="assets/images/s9.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px"> Morning de-board houseboat and
        drive to Thiruvananthapuram. Arrive and check- in at hotel. Later visit Padmanabhaswami Temple - A shrine sacred
        to the Vaishnavites. The main attractions of the temple are its 400 beautifully carved pillars of granite and a
        100-feet-high gopuram. The Observatory and Museum - The Museum at Trivandrum may be regarded as a rich
        repository of our ancient culture and heritage. Tourists make a great rush to see the ancient temple models and
        jewellery kept here.</p>
    <p >
        Later visit Sri Chitra Art Gallery - which displays the paintings of Raja Ravi Varma, the Indian painter whose
        paintwork attracted the attention of world community towards India. The Indian section of the gallery also
        displays the paintings of Rabindranath Tagore, K. K. Hebar, Jamimi Roy and a few others.
    </p>
    <p >Overnight stay at hotel. </p>

    <h4 class="bg-title" >Day 08: Thiruvananthapuram – Mumbai By Flight </h4>
    <p ><img src="assets/images/s10.png" alt=""
            style="width:200px; float:right; padding-left:15px; padding-bottom:15px"> Morning after breakfast, transfer
        to airport to board flight for Mumbai. </p>
    <p >
        After lunch explore the city starting with Victoria terminus, Prince of Wales museum crowned by a sparkling
        white dome. It boasts a good collection of ancient Indus Valley artifacts dating back to 2000 BC, plus some
        priceless Tibetan and Nepali Art. Evening visit Marine drive and enjoy on Juhu beach.
    </p>
    <p >Overnight stay at hotel. </p>

    <h4 class="bg-title" >
        Day 09: Mumbai/Depart </h4>
    <p >
        Morning after breakfast, visiting Gateway of India, Elephanta Caves - The island was the capital of powerful
        coastal kingdom and the excavation of the caves from the 6th century hints at the glory of the kingdom.
        Centuries later, when the Portuguese took possession of the island, they named it after a monolith of an
        elephant, which they had found there. After lunch visit Dhobi Ghat. Evening free for shopping. Later transfer to
        international airport to board flight for onward destination.
    </p>








                                </div>
                            </div>


                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>