<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">KASHMIR PARADISE TOUR

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">11 Nights / 12 Days</h2>
                                   
                           
                                </div>
                                <div class="price-table-summary">
                                  
                                    <h4 class=" mrtp50" >            Day 01: 	Arrive Delhi    </h4>
                                    <p class=" text-justify">Arrive Delhi by flight. After clearing immigration and custom formalities, you will be meet and greet by our airport representative, traditional welcome garlanding. Transfer to hotel by AC transport.  </p>
                                    
                                     <p class=" text-justify">Overnight stay at hotel.</p>
                                    
                                    <h4 class=" mrtp50" >  Day 02: Delhi /Leh   by flight  </h4>
                                    <p class=" text-justify">After early breakfast, you will be transferred to airport to board flight for Leh.  </p>
                                    
                                    <p class=" text-justify">LEH - India’s one of the favorite tourist destinations located in the northernmost parts of the country. Lapped in the snow-covered fringes of the Himalayas, Leh India has been the center of Tibetan-Buddhist culture since ages. Its colorful gompas have attracted the devout Buddhists from all over the globe. Besides, it is also a favorite hiking locale and is known for some of the best hikes in India.</p>
                                    
                                    <p class=" text-justify">Upon arrival transfer to hotel &amp; rest.   Late afternoon visit the formidable 16th century built Leh Palace – the seat of the former Kings of Laddakh. Also visit Shankar Monastery which is situated on the valley floor followed by visit to Spituk monastery which is one of important Gelukpa monstry . </p>
                                    
                                     <p class=" text-justify">Dinner &amp; overnight stay at hotel.   </p>
                                    
                                    
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    
                        <div class="price-table-summary row">
                            <div class="col-lg-8">
                                
                                    <h4 class=" mrtp50" >  Day 03: Leh </h4>
                           
                            <p class=" text-justify" style="padding-right:20px">Morning after breakfast take a tour of Leh. This day we take you for full day excursion to famous Monasteries -  THIKSEY - It is better to visit early morning to see sunrise and praying ceremony. It is a 12-storey complex and houses many items of Buddhist art such as stupas, statues, thangkas, wall paintings and swords.  Also visit HEMIS Monastery which is one of the biggest in this region. While returning to Leh visit SHEY PALACE - The monastery is noted for its giant copper with gilded gold statue of a seated Shakyamuni Buddha.  Packed lunch will be provided. In the evening return to the hotel.</p>
                            
                            <p class=" text-justify">Dinner &amp; Overnight stay at hotel.</p>
                            
                             </div>
                             <div class="col-lg-4">
                                <img style="margin-top: 7px;" src="assets/images/k1.png" alt="" >
                            </div>
                            </div>
                            <div class="price-table-summary row">
                                <div class="col-lg-12">
                                    <h4 class=" mrtp50" >  Day 04: Leh/Pangong/Leh    </h4>
                                    <p class=" text-justify">Morning after breakfast, drive to Pangong Lake. Day at leisure. Later return to Leh. </p>
                                    
                                    <p class=" text-justify">Dinner &amp; Overnight stay at hotel.   </p>
                                    
                                    
                                    
                                 </div>
                                
                                </div>
                                <div class="price-table-summary row">
                                    <div class="col-lg-12">
                                        <h4 class=" mrtp50" >  Day 05: Leh/Alchi (70 Kms/02 hrs)</h4>
                                        <p class=" text-justify">Morning after breakfast, drive to Alchi. Visit local village which is famous for the existence of one of the oldest monasteries in Ladakh (a national heritage) Alchi Monastery, mainly known for its magnificent and well-preserved 11th or 12th century wall paintings, all in an Indian style.</p>
                                        
                                        <p class=" text-justify">Dinner &amp; overnight stay at hotel.  </p>
                                        
                                     </div>
                                    
                                    </div>
                                    

                                    <div class="price-table-summary row">
                                        <div class="col-lg-8">
                                           
                                <h4 class=" mrtp50" >  Day 06: Alchi/Lamayuru/Kargil </h4>
                               
                                
                                <p class=" text-justify">Dinner &amp; overnight stay at hotel.  </p>
                                
                               
                                         </div>
                                         <div class="col-lg-4">
                                            <img style="margin-top: 7px;" src="assets/images/k2.png" alt="" >
                                        </div>
                                        </div>

                                        <div class="price-table-summary row">
                                            <div class="col-lg-8">
                                                <h4 class=" mrtp50" >  Day 07: Kargil/Dpass/Srinagar (200 Kms/05 Hrs)</h4>
                                                
                                                <p class=" text-justify">Morning after breakfast drive to Srinagar. Drive to Srinagar via Drass, which is noted for its heavy snowfalls and extreme cold. On the road to Srinagar, Drass is a small township lying in the centre of a valley of the same name. It is the second coldest inhabited place in the world. During the spring and summer, however the valley around the township becomes very picturesque. From there drive through Sonamarg, the gold valley, to Srinagar and stay in the houseboat.</p>
                                                
                                                <p class=" text-justify">Dinner and Overnight at Deluxe houseboat.</p>
                                                
                                             </div>
                                             <div class="col-lg-4">
                                                <img style="margin-top: 7px;" src="assets/images/k3.png" alt="" >
                                            </div>
                                            </div>
                                            <div class="price-table-summary row">
                                                <div class="col-lg-8">
                                                    <h4 class=" mrtp50" >  Day 08 (09 Aug):	Srinagar					                          </h4>
                                                    <!-- <img src="assets/images/k4.png" alt="" class="img-responsive" style=" width:200px; float:right; margin-left:15; margin-bottom:15px"> -->
                                                    <p class=" text-justify">After breakfast take a full day excursion of Gulmarg - the most beautiful summer resort in the valley. It is popular for its highest golf course and skiing in winters. You can enjoy a pony ride and also enjoy a Gondola ride (cable car) to Kangdori/Alpatar.</p>
                                                    
                                                    <p class=" text-justify">Dinner and Overnight at Deluxe houseboat.</p>
                                                    
                                                 </div>
                                                 <div class="col-lg-4">
                                                    <img style="margin-top: 7px;" src="assets/images/k4.png" alt="" >
                                                </div>
                                                </div>
                        
                                                <div class="price-table-summary row">
                                                    <h4 class=" mrtp50" >  Day 09: Srinagar/Jammu (by flight) /Dharamshala 			                          </h4>
                                                    <p class=" text-justify">Morning after breakfast transfer to airport to board flight for Jammu. </p>
                                                    
                                                    <p class=" text-justify">Upon arrival at Jammu airport, pick-up and drive to Dharamshala. </p>
                                                    
                                                    <p class=" text-justify">Dinner &amp; overnight stay at hotel.</p>
                                                    
                                                </div>
                                                <div class="price-table-summary row">
                                                    <h4 class=" mrtp50" >  Day 10: Dharamshala					                          </h4>
                                                    <p class=" text-justify">Morning after breakfast, full day sightseeing of Dalai Lama Temple and monasteries. </p>
                                                    
                                                    <p class=" text-justify">Dinner &amp; overnight stay at hotel.</p>
                                                    
                                                </div>
                                                <div class="price-table-summary row">
                                                    <h4 class=" mrtp50" >  Day 11: Dharamshala/Amritsar					                          </h4>
                                                    <p class=" text-justify">Morning after breakfast, drive to Amritsar. Upon arrival visit Golden Temple. Evening visit flag ceremony at Wagah border.  </p>
                                                    
                                                    <p class=" text-justify">Dinner &amp; overnight stay at hotel.</p>
                                                    
                                                </div>
                              
                            
                                                <div class="price-table-summary row">
                                                    <div class="col-lg-8">
                                                        <h4 class=" mrtp50" >  Day 12: Amritsar/Delhi (#12014  0500/1115)				                          </h4>
                                <!-- <img src="assets/images/k5.png" alt="" style=" width:100px; float:right; margin-left:15; margin-bottom:15px"> -->
                                <p class=" text-justify">Morning early breakfast, in time transfer to railway station to board train for Delhi at 0500 hrs. Arrive Delhi at 1115 Hrs. After lunch sightseeing of Qutab Minar, Parliament House, President house (outside), Lotus Temple. </p>
                                
                                <p class=" text-justify">After dinner transfer to international airport to board fight for Seol.</p>
                                
                                   
                        
                   

                                                     </div>
                                                     <div class="col-lg-4">
                                                        <img style="margin-top: 7px;" src="assets/images/k5.png" alt="" >
                                                    </div>
                                                    </div>
                             
                                
                                
                               
                               
                           
                               







                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>