<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">ENLIGHTENMENT OF BUDDHA TOUR

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">(10 Nights/ 11 Days)</h2>
                                      

                                </div>
                                <h4>Delhi – Lucknow – Sravasti – Lumbini – Kushinagar – Vaishali – Patna – Rajgir – Nalanda – Bodhgaya – Varanasi – Agra – Delhi</h4>
                                <div class="price-table-summary">

                                    <h4 class="bg-title" >Day 01: Arrive Delhi</h4>
                                    
                                    <p class="">	Meeting and assistance on arrival by company representative and transfer to hotel. </p>
                                    <p class=""><b>Delhi</b><br>
                                India's largest city, Delhi, has been one of the countrys commercial and economic hubs for centuries and, as a result, is incredibly rich in culture and history. Made up of the ancient walled city of Old Delhi and the more modern sector, New Delhi, the city encompasses a staggering array of beautiful architecture, notable monuments and age-old temples, including three UNESCO World Heritage Sites the Red Fort, Qutab Minar and Humayun's Tomb. Other key attractions include the 17th century Chandni Chowk marketplace still one of the citys most popular retail centres today, particularly for jewellery and traditional Indian saris; the iconic Bahi Lotus Temple an award-winning architectural gem; and the Jama Masjid, Indias largest mosque.</p>
                                    <p class=""><i>Overnight at Hotel.</i></p>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                       
                        
                        <div class="row">
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">
                                    
                                    <h4 class=" bg-title" >DAY 2 : DELHI/LUCKNOW/SRAVASTI</h4>	
                                    <p class="">Take Packed Breakfast at hotel </p>
                                        <p class="">Morning transfer to New Delhi Railway Station in time to board your train to Lucknow. </p>
                                    <p class="">Dep:  0615 hrs<br>
                                    Arr  : 1230 hrs</p>
                                        <p class=" mrtp20">Drive to Sravasti(176 kms/04 hrs)</p>
                                        <p class=""><b>Sravasti</b><br>
                                    The ancient city of Shravasti (Sravasti) deemed sacred by both Buddhist and Jains, is at present a collection of ruins named Sahet - Mahet. This twin name refers to two distinct groups of remains: Maheth where you will find the fascinating remains of the ancient city; and Sahet which is primarily known as the site of the Jetavana monastery. It is widely believed that the Buddha spent 25 years in this ancient city. His hut, now adorned with a carpet of flowers continuously left by devoted pilgrims, is one of the most significant and sacred Buddhist sites in the area. With its spectacular array of holy temples, historic stupas, sacred shrines, and mammoth monasteries, the ruins of Shravasti are an essential addition to any Uttar Pradesh itinerary.</p>
                                        <p class="">Lunch at Local Restaurant.</p>
                                        <p class=""><i>Dinner &amp; Overnight at Hotel.</i></p>
                                    <h4 class=" bg-title" >DAY 3 : SRAVASTI/LUMBINI</h4>	
                                    <p class="">Breakfast at hotel. </p>
                                        <p class="">Morning sightseeing - SahetMahet, Angulimal Cave</p>
                                        <p class="">Lunch at hotel.</p>
                                        <p class="">Drive to Lumbini.(350 kms/06 hrs)</p>
                                        <p class=""><b>Lumbini</b><br>
                                    According to Buddhist belief, the Lord Buddha (originally known as Siddharta Gautama) was born in the sacred gardens of Lumbini circa 600 BC. As a result of this connection, the city has developed into an important Buddhist holy place and pilgrimage site. It encompasses an impressive archaeological complex that contains beautifully preserved remains of Buddhist temples, monasteries, pagodas and shrines dating as far back as the 3rd century BC. The area was designated a UNESCO World Heritage Site in the late 1990s. Two key attractions within the holy complex are the ancient Ashoka temple, dating to the 3rd century and bearing an inscription that declares Lumbini as Buddha's birthplace, and the modern Maya Devi Temple, said to mark the exact spot where Queen Maya Devi gave birth to her now-famous son.</p>
                                        <p class=""><i>Dinner &amp; overnight at hotel.</i></p>
                                    <h4 class=" bg-title" >DAY 4 : LUMBINI/KUSHINAGAR</h4>
                                    <p class="">	After breakfast, proceed for sightseeing birth place of Lord Buddha.</p>
                                        <p class="">Drive to Kushinagar(150 kms/04 hrs)</p>
                                        <p class=""><b>Kushinagar</b><br>
                                    Kushinagar is a city situated in Uttar Pradesh, India. This town is a pilgrimage destination for Buddhism followers. Major sites found in Kushinagar includes Buddha's creamtion stupa, the Parinirvana Stupa and the Wat Thai Kushinara Temple that houses the Golden Statue of Buddha.</p>
                                        <p class=""><i>Lunch, Dinner &amp; overnight at hotel.</i></p>
                                    <h4 class=" bg-title" >DAY 5 : KUSHINAGAR/VAISHALI/PATNA</h4>
                                    <p class="">	Breakfast at hotel.</p>
                                        <p class="">Visit cremation stupa, Mahaparinirvana temple and modern Indo Japan - Sri Lanka Buddhist center.</p>
                                        <p class="">Enroute visit Vaishali</p>
                                        <p class="">Lunch at restaurant</p>
                                        <p class="">Drive to Patna (40 kms/1 hrs)</p>
                                        <p class=""><b>Patna</b><br>
                                    One of the oldest, continuously inhabited places in the world, Patna is the modern capital of Bihar. Ancient Patna was known as Pataliputra and was founded in 490 BCE by the king of Magadha. Artefacts from this ancient city can be found at Kumhrar, five kilometres east of the railway station. The population of Pataliputra around 300 BCE was reportedly 400 000 inhabitants. Patna is also the birthplace of Guru Govind Singhji, the tenth Sikh Guru, born in 1666. A memorial and place of worship is reserved for him at Takht Sri Patna Sahib, an impressive mosque-like building and residence of Sikh authorities through the ages.</p>
                                    <p class="">	Dinner &amp; overnight stay at hotel.</p>
                                    <h4 class=" bg-title" >DAY 6 : PATNA/NALANDA/RAJGIR/BODHGAYA	</h4>
                                    <p class="">After a breakfast to Bodhgaya (approx 6 hrs)</p>
                                        <p class=""><b>Bodhgaya</b><br>
                                    A sacred Buddhist pilgrimage site, Bodh Gaya is where Gautama Buddha is said to have reached enlightenment. Bodh Gaya is one of four Buddhist sites related to the life of Buddha; two others can be found in northern India and one in Nepal. The giant Bodhi Tree commands an impressive presence alongside the temple. Visitors are able walk beneath its sacred green canopy to see the site where Buddha sat in deep meditation. Today, the temple complex includes the 50-metre-high Grand Temple - built in the 3rd century B.C by Emperor Asoka, a patron of Buddhism - the Bodhi Tree and six sacred sites, surrounded by numerous stupas (commemorative monuments).</p>
                                        <p class="">Enroute visit Nalanda &amp; Rajgir.</p>
                                        <p class="">Lunch at Restaurant</p>
                                        <p class=""><i>Dinner &amp; overnight stay at hotel.</i></p>
                                    <h4 class=" bg-title" >DAY 7 : BODHGAYA</h4>
                                    <p class="">	Breakfast at hotel.</p>
                                        <p class="">Full day city tour of Bodhgaya visit Bodhi tree, Mahabodhi Temple, Monasteries, Magadha University etc. </p>
                                        <p class="">Lunch, Dinner &amp; overnight stay at hotel.</p>
                                    <h4 class=" bg-title" >DAY 8 : BODHGAYA/VARANASI</h4>	
                                    <p class="">After breakfast drive to Varanasi with packed lunch</p>
                                        <p class=""><b>Varanasi</b><br>
                                    An ancient and deeply sacred city, Varanasi rests along the banks of the holy River Ganges and encompasses a wealth of beautiful riverside temples, stately old forts and vibrant markets. It's considered the spiritual capital of Hinduism, and it's widely believed that dying here will bring salvation. As a result, the city is home to a multitude of ghats - stone steps leading to the river - some of which are used for bathing rituals and others as cremation sites. An early morning boat ride along the Ganges offers an excellent way to take in the ghats and the bustling activity centered on them.</p>
                                        <p class="">Upon arrival in Varanasi check-In at hotel. </p>
                                        <p class="">Evening visit Ganga Arti. </p>
                                        <p class=""><i>Dinner &amp; overnight stay at hotel.</i></p>
                                    <h4 class=" bg-title" >DAY 9 : VARANASI/AGRA</h4>
                                        <p class="">Sunrise boat ride on Ganges.</p>
                                        <p class="">Breakfast at hotel.</p>
                                        <p class="">City tour of Varanasi: visits various Ghats and Temples on the bank of river Ganges.</p>
                                        <p class="">Lunch at hotel</p>
                                        <p class="">Afternoon excursion to Sarnath</p>
                                        <p class="">Dinner at Hotel</p>
                                        <p class="">Evening transfer to Varanasi Station in time to board your train to Agra</p>
                                    <p class=" mrtp10">Dep:  2200 hrs<br>
                                    Arr  : 0800 hrs</p>
                                    <h4 class=" bg-title" >DAY 10 : AGRA	</h4>
                                    <p class="">Breakfast at hotel.</p>
                                        <p class=""><b>Agra</b><br>
                                    Home of the world-famous Taj Mahal, Agra is one of India's prime tourist destinations for specifically this reason, though its attractions also extend to an array of other impressive historical sights. These include the red-hued Agra Fort, the sacred Jama Masjid mosque and Itmad-ud-Daulah's tomb, with its white marble facade embellished with intricate inlaid designs and semi-precious gems. The Taj, however, is in a league of its own and needless to say is a must-see for any visitor to the city. Commissioned by the Mughal emperor Shah Jahan in the 15th century as a memorial to his beloved wife Mumtaz Mahal, it is an architectural masterpiece of exquisite craftsmanship and perfect proportions.</p>
                                        <p class="">Afternoon visit Taj Mahal &amp; Agra fort. </p>
                                        <p class="">Lunch at hotel</p>
                                        <p class=""><i>Dinner &amp; overnight stay at hotel.</i></p>
                                    <h4 class=" bg-title" >DAY 11 : AGRA/DELHI</h4>	
                                    <p class="">Breakfast at hotel</p>
                                        <p class="">Drive to Delhi(203 kms/04hrs)</p>
                                        <p class="">Lunch at local restaurant</p>
                                        <p class="">Half day city tour of Old &amp; New Delhi. Old Delhi includes visit to Raj Ghat, drive past the Red fort (OUTSTDE) and Jama Masjid. </p>
                                    <p class="">New Delhi tour includes, drive past India Gate, Rastrapati Bhawan and the Parliament House and visit Qutab Minar. </p>
                                        <p class="">Dinner at local restaurant.</p>
                                        <p class="">Late evening transfer to airport for onward flight.</p>
                                        <br><br>
                                    <p class=""><b>End of the Tour</b></p>
                                    
                                </div>
                            </div>
                        

                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>