<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">Classical South India
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">14 Nights / 15 Days</h2>


                                </div>
                                <div class="price-table-summary">
                                   
                                    <h4 class="bg-title" >DAY 1 : ARRIVE CHENNAI </h4>
                                   
                                    <p class="">Meeting and assistance on arrival at Delhi by our representative and transfer to hotel. </p>
                                    <p class=""><b>Chennai</b><br>
                                Chennai is Tamil Nadu's coastal capital and one of India's financial, cultural and tourism hubs. Attractions include the citys beaches, museums, shopping areas and historical sites, particularly the centrally located Kapaleeshwar Temple - a historical shrine to the goddess Shiva, featuring gaudily decorative gopurams (towers) covered with colourful carvings - and the group of ancient rock-carved temples at Mahabalipuram, a UNESCO World Heritage Site located roughly 60 kilometres from the city centre. Also of interest is the Guindy National Park, which occupies nearly three square kilometres of greenery in the city centre and is home to an array of birds, reptiles and (mainly smallish) mammals.
                                    </p><p class="">Overnight at Hotel.</p>

                                </div>
                           


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">

                                  
                                    <h5 class=" bg-title" >DAY 2 : CHENNAI	</h5>
                                    <p class="">Breakfast at hotel.</p>
                                        <p class="">Guided city tour visiting Mylapore temple, Kapleshwar temple, Fort St. George Museum, St. Mary's Church and the Marina beach.</p>
                                        <p class="">Rest of the day free for independent activities. </p>
                                        <p class="">Overnight at the hotel in Chennai.</p>
                                    <h5 class=" bg-title" >DAY 3 : CHENNAI/KANCHIPURAM/MAHABALIPURAM	</h5>
                                    <p class="">Breakfast at hotel. </p>
                                        <p class="">Drive to Mahabalipuram (70 kms/ 1 hr)</p>
                                        <p class=""><b>Mahabalipuram</b><br>
                                    The ancient port town of Mammallapuram is a charming tourist hub which has been attracting travellers for centuries. It was known already in Marco Polo's day as the "Seven Pagodas" alluding to the seven tiered towers that once stood on the shore, of which one - the Shore Temple, still stands. The port is famous for its stone carvings, which have World Heritage Site status. Impressive cave temples, monolithic rathas (chariots) and sculpted reliefs built by the Pallavas in the 7th and 8th centuries form this group of monuments. After sightseeing, enjoy an Indian thali meal or chai tea at one of the bustling diners in town.
                                    </p>
                                        <p class="">Enroute visit Kanchipuram</p>
                                        <p class="">Lunch at Local restaurant</p>
                                            <p class="">On arrival check in hotel.</p>
                                        <p class="">Rest of the day at leisure</p>
                                        <p class="">Overnight &amp; dinner at Hotel.</p>
                                    <h5 class=" bg-title" >DAY 4 : MAHABALIPURAM/PONDICHERRY</h5>
                                    <p class="">	Breakfast at hotel. </p>
                                        <p class="">Morning sightseeing – visit shore temple.</p>
                                        <p class="">Lunch at hotel</p>
                                        <p class="">Later drive to Pondicherry(138 kms/03 hrs)</p>
                                        <p class=""><b>Pondicherry</b><br>
                                    Pondicherry - is made up of four entirely separate enclaves along the Indian coast, all of which were colonised by the French in the 18th century. Named after the largest of these enclaves, this union territory has retained a strong European culture that makes it unlike any other place in India. Nowhere is this more evident than in Puducherry district, dubbed the 'French Riviera of the East', where antiquated colonial buildings line the quiet cobbled streets and tree-lined avenues of the old town, and many people still speak French as their first language.
                                    </p>
                                        <p class="">On arrival check in hotel.</p>
                                        <p class="">Dinner &amp; overnight stay at hotel.</p>
                                    <h5 class=" bg-title" >DAY 5 : PONDICHERRY/TANJORE	</h5>
                                    <p class="">Breakfast at the hotel.</p>
                                        <p class="">Morning sightseeing - Visit the Aurobindo Ashram, Manakula vinayagar temple, and a walking tour of the Colonial white town over the Promenade.</p>
                                        <p class="">Drive to Tanjore(230 kms/06 hrs)</p>
                                        <p class=""><b>Tanjore</b><br>
                                    Situated between Trichy and the coast of Tamil Nadu, Thanjavur is an important centre of South Indian religion, art, and architecture. It is also an agricultural hub, fondly known as the 'rice bowl of Tamil Nadu'. It's most visited monument, the Brihadeeswara Temple, is located at the centre of the city and a style of painting, called Tanjore, which is unique to the region, can be seen here. The temple forms part of the Great Living Chola Temples, which are UNESCO World Heritage Sites located in and around Thanjavur. Thousands of people still worship at the Cholas' grand Brihadishwara Temple every day.
                                    </p>
                                        <p class="">After arrival checkin hotel.</p>
                                        <p class="">Dinner &amp; overnight stay at hotel.</p>
                                    <h5 class=" bg-title" >DAY 6 : TANJORE</h5>
                                        <p class="">Breakfast at the hotel.</p>
                                        <p class="">Sightseeing visit - Brihadeshwara temple,  Palace and bronze ideal making units.</p>
                                        <p class="">Lunch, Dinner &amp; overnight stay at hotel.</p>
                                    <h5 class=" bg-title" >DAY 7 : TANJORE/TRICHY/MADURAI</h5>
                                    <p class="">	Breakfast at the hotel.</p>
                                        <p class="">Drive to Madurai (150 kms/03 hrs)</p>
                                        <p class=""><b>Madurai</b><br>
                                    Located in the southern state of Tamil Nadu, Madurai is the oldest existing city on the Indian peninsula, and one of the oldest continuously inhabited cities in the world, with a recorded history spanning more than 2500 years. It is known as the city of temples due to its countless ancient Hindu shrines, including the great Meenakshi-Sundareswar Temple, spread over 6 hectares and featuring a series of 50-metre-high gateway towers that can be seen from afar. The best time to visit Madurai is between October and March, when temperatures are between 20-35 degrees.
                                    </p>
                                        <p class="">Enroute visit Trichy</p>
                                        <p class="">Visit the fort at top Ganesh temple &amp; island of Srirangam.</p>
                                        <p class="">Reach Madurai, checkin Hotel.</p>
                                        <p class="">Lunch at hotel.</p>
                                        <p class="">Dinner &amp; overnight stay at Hotel.</p>
                                    <h5 class=" bg-title" >DAY 8 : MADURAI</h5>
                                        <p class="">Breakfast at the hotel.</p>
                                        <p class="">Morning proceed to local flower and vegetables markets followed by the visit to the weaver's colony.</p>
                                        <p class="">Afternoon visit Meenakshi temple and its huge premises.</p>
                                        <p class="">In evening visit Meenakshi Temple for the Prayer ceremony during whi ch the god Shiva is lead to the bedroom of his wife.</p>
                                        <p class="">Dinner &amp; overnight stay at Hotel.</p>
                                    <h5 class=" bg-title" >DAY 9 : MADURAI/PERIYAR	</h5>
                                    <p class="">Breakfast at the hotel.</p>
                                        <p class="">Drive to Periyar (145 kms/3.5 kms)</p>
                                        <p class=""><b>Periyar(Thekkady)</b><br>
                                    A tourist attraction in Kerala, Thekkady is a district located at the Periyar National Park. Thekkady comprises of evergreen forests and savanna grass lands. This area is known for its natural spices such as black pepper, cardamom, cinnamon, nutmeg, ginger and clove. Wild life creatures found in this region include elephants, tigers and sambar to name a few.
                                    </p><p class="">
                                        On arrival transfer to hotel.</p>
                                        <p class="">Lunch at Hotel.</p>
                                        <p class="">Dinner &amp; overnight stay at hotel.</p>
                                    <h5 class=" bg-title" >DAY 10 : PERIYAR</h5>
                                        <p class="">Early morning proceed for guided jungle walk in the reserve to enjoy the flora and fauna.</p>
                                        <p class="">Lunch at hotel</p>
                                        <p class="">Later in the afternoon, visit to Spice Garden where you will get knowledge of various and most popular spices grown in the region.</p>
                                        <p class="">Dinner &amp; overnight at hotel.</p>
                                    <h5 class=" bg-title" >DAY 11 : PERIYAR/ALLEPPEY</h5>
                                        <p class="">Breakfast at hotel.</p>
                                        <p class="">Morning transfer to Alleppey (130 kms/04 hr)</p>
                                        <p class=""><b>Alleppey</b><br>
                                    Commonly known as Alleppey, the Alappuzha district is a tourist destination of Kerala, with the backwaters being its popular tourist attraction. Tourists often explore this region through various houseboat cruises. This area is also known as the 'Venice of the East' as its a region featuring canals, backwaters, beaches and lagoons.
                                    </p><p class="">
                                        On arrival transfer to houseboat.</p>
                                        <p class="">Cruise in waterways.</p>
                                        <p class="">Lunch at Houseboat</p>
                                        <p class="">Dinner &amp; overnight at Houseboat.</p>
                                    <h5 class=" bg-title" >DAY 12 : ALLEPPEY/KUMARAKOM	</h5>
                                    <p class="">Breakfast at houseboat.</p>
                                        <p class="">Disembark private House Boat and proceed by road to Kumarakom (30 kms/01 hr). </p>
                                        <p class="">Rest of day free for independent activities.</p>
                                        <p class="">Dinner &amp; overnight at hotel.</p>
                                    <h5 class=" bg-title" >DAY 13 : KUMARAKOM/COCHIN</h5>
                                        <p class="">Breakfast at hotel.</p>
                                        <p class="">Drive to Cochin</p>
                                        <p class=""><b>Cochin</b>
                                    Kochi is a city in southwest India's coastal Kerala state. This attractive city has served as a popular port for over 600 years and is known for its eclectic architecture and its array of religious monuments, museums, galleries, cafes and antique shops. The city stretches across a number of peninsulas and islands, which can be reached by a network of water taxis and bridges. The majority of Koch is visitor highlights can be found on the peninsula of Fort Kochi. These highlights include the St Francis Church, the oldest European-built church in India; and Mattancherry Palace, which dates back to 1557 and contains some exceptional Kerala murals and temple art.
                                    </p><p class="">
                                        Later proceed for guided city tour visiting, Mattancherry Palace (built in 1555 and renovated by the Dutch in 1663, it contains 17th century murals of the Ramayana) and St. Francis Church, the oldest in India and the famous Chinese fishing nets (introduced by a trader from Kubla Khan's China). Stroll through the old Jewish Quarter and visit the old Synagogue </p>
                                        <p class="">Dinner &amp; overnight at hotel.</p>
                                    <h5 class=" bg-title" >DAY 14 : COCHIN</h5>
                                        <p class="">Breakfast at hotel.</p>
                                        <p class="">Relax and enjoy your day at leisure.</p>
                                        <p class="">Lunch at hotel.</p>
                                        <p class="">In the evening proceed to enjoy the classical dance show "Kathakali Dance", based on the Hindu epics, highlighted by the amazing costumes &amp; make-up.</p>
                                        <p class="">Dinner &amp; overnight at hotel.</p>
                                    <h5 class=" bg-title" >DAY 15 : DEPARTURE COCHIN</h5>
                                        <p class="">Breakfast at hotel.</p>
                                        <p class="">Depending on your flight timings, you will be picked up from the hotel by our representative and transferred to airport to connect your back home/ onward flight.</p>
                                    <br><br>
                                    <p class=""><b>End of the Tour</b></p>
                                    
                                </div>
                            </div>
                 


                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>