<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">Central India & Gujarat Tour Package
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">20 Nights / 21 Days</h2>


                                </div>
                                <div class="price-table-summary">
                                   
                                    <h4 class="bg-title" >Day 1 : Delhi </h4>
                                   
                                    <p class="">Depart for Delhi. Overnight on board.</p>

                                </div>
                                <div class="price-table-summary">
                                   
                                    <h4 class="bg-title" >Day 1 : Delhi </h4>
                                   
                                    <p class="">Arrival Delhi in the morning...! Welcome and transfer to the hotel. In the afternoon, proceed on a tour of Old Delhi. Here there exist many mosques, monuments and forts, the most notable being the famous Red Fort and the Jama Masjid. Overnight in Delhi..</p>

                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-12 primary right-sidebar">
                                <div class="price-table-summary">

                                    <h4 class=" bg-title" >Day 3 : Delhi</h4>
                                    <p class="">In the morning, visit New Delhi - the India Gate, Parliament House and the Rashtrapati Bhawan. The Qutab Minar : The 'Tower of Victory’ and Humayun's Tomb, built by the wife of the second Moghul emperor. The afternoon is at leisure to explore Delhi on your own. Overnight in Delhi.</p>
                                    <h4 class=" bg-title" >Day 4 : Delhi / Jhansi ( Train) / Orchha / Khajuraho</h4>
                                    <p class="">Early morning, transfer to the Railway Station to board a train for Jhansi. Arrival Jhansi and proceed to Khajuraho en route visiting Orcha - medieval city flanked by the river Betwa, known for its 17th Century Palaces and Temples. On arrival check-in at the hotel. Overnight in Khajuraho</p>
                                    <h4 class=" bg-title" >Day 5 : Khajuraho</h4>
                                    <p class="">Morning, visit the western group of temples, built by Chandela Kings some 1000 years ago. The ceilings and walls are adorned with exquisite carvings depicting the human life, feasts, hunting, music, dance! In the afternoon, a visit to the Eastern group of Temples dedicated to Jainism. Overnight in Khajuraho</p>
                                    <h4 class=" bg-title" >Day 6 : Khajuraho / Bandhavgarh(270 km)</h4>
                                    <p class="">In the morning, depart for Bandhavgarh National Park situated in the erstwhile State of Rewa. The National Park, lies in the heart of the Vindhyan Mountain Range. Besides its enchanting landscape and majestic tree clad hills, it is famous for its rich variety of wildlife and archaeological remains of the Kalchuri period. After a late lunch, proceed for a Jeep Safari into the jungle. Overnight in Bandhavgarh</p>
                                    <h4 class=" bg-title" >Day 7 : Bandhavgarh</h4>
                                    <p class="">The day is dedicated to safaris rides in the Reserve with a naturalist, in search of the tiger, various mammals and varieties of birds. An adventurous day to be spent midst nature in the jungle. Overnight in Bandhavgarh</p>
                                    <h4 class=" bg-title" >Day 8 : Bandhavgarh / Jabalpur (200 km)</h4>
                                    <p class="">In the morning, depart for Jabalpur. The old capital of the Gonda Kings during the 12th Century, thereafter the seat of the Kalchuri. On arrival check-in at the hotel. In the afternoon, visit the Madan Mahal Fort located atop a rocky hill. Overnight in Jabalpur</p>
                                    <h4 class=" bg-title" >Day 9 : Jabalpur / Pachmarhi</h4>
                                    <p class="">In the morning, depart for Pachmarhi Madhya Pradesh's most verdant jewel, a place where nature has found exquisite expression in myriad enchanting ways. On arrival check-in at the hotel. Day free to relax. Walk through the valleys and ravines to admire the area's natural beauty. Overnight in Pachmarhi</p>
                                    <h4 class=" bg-title" >Day 10 : Pachmarhi / Bhopal</h4>
                                    <p class="">In the morning, leave for Bhopal. This city is situated on the site of an 11th Century city of Bhojapat. On arrival check-in at the hotel. Visit the Jama Masjid and the Gohar Mahal. Overnight in Bhopal</p>
                                    <h4 class=" bg-title" >Day 11 : Bhopal / Sanchi / Bhopal (67 km)</h4>
                                    <p class="">Excursion on the Buddhist site of Sanchi Sanchi Stupa, the world largest Stupa was originally built by the Mauryan Emperor Ashoka. Thereafter return to Bhopal. Overnight in Bhopal</p>
                                    <h4 class=" bg-title" >Day 12 : Bhopal / Ujjain (227 km) / Indore (55 km)</h4>
                                    <p class="">After breakfast leave for Indore visiting Ujjain situated on the right bank of the River Shipra. Visit the Mahakaleshwara Temple and other temples. Thereafter, continue towards Indore. On arrival check-in at the hotel. Overnight in Indore</p>
                                    <h4 class=" bg-title" >Day 13 : Indore / Omkareshwar / Maheshwar / Dhar</h4>
                                    <p class="">Morning drive to Dhar, with the first stop at Maheshwar Temple located on the banks of river Narmada. Continue towards Omkareshwar, the sacred island. Thereafter, continue towards Dhar. On arrival check-in at the hotel. Overnight in Dhar</p>
                                    <h4 class=" bg-title" >Day 14 : Dhar / Mandu / Dhar</h4>
                                    <p class="">A full day excursion to the deserted city of Mandu. Built as a testament of love by a Muslim ruler named Baz Bahadur for his Hindu queen Roopmati. Each of Mandu's structures is an architectural gem. Return to Dhar. Overnight in Dhar</p>
                                    <h4 class=" bg-title" >Day 15 : Dhar / Chota Udaipur / Vadodra (180 km)</h4>
                                    <p class="">In the morning, proceed toward Vadodra. Passing through a very picturesque landscape Chota Udaipur. On arrival check-in at the hotel. Overnight in Vadodra</p>
                                    <h4 class=" bg-title" >Day 16 : Vadodra / Ahmedabad (115 km)</h4>
                                    <p class="">In the morning, proceed for a sightseeing tour of Vadodra visiting the Museum, Pratap Vilas Palace the erstwhile residence of the Royal family. Thereafter, proceed towards Ahmedabad, graced with splendid monuments built by its founder in 15th Century. On arrival check-in at the hotel. Overnight in Ahmedabad</p>
                                    <h4 class=" bg-title" >Day 17 : Ahmedabad / Utelia</h4>
                                    <p class="">In the morning, proceed to the Sidi Saiyad Mosque known for is exquisite stone window tracery. The Juma Masjid and the Sabarmati Ashram founded by Mahatma Gandhi . In the afternoon, we drive to Utelia via Lothal. On arrival check-in at the hotel. Later proceed to the Utelia Palace built in Indo-Saracenic architecture. Overnight in Utelia</p>
                                    
                                    <h4 class=" bg-title" >Day 18 : Utelia / Palitana / Bhavnagar</h4>
                                    <p class="">In the morning, depart for Palitana, famous for the ancient Jain Temples. There are 863 exquisite marble Temples. Some of these Temples are more than 900 years old. Thereafter, continue towards Bhavnagar, once the capital of the princely state now a coastal city. On arrival check-in at the hotel. Overnight in Bhavnagar
                                    </p>
                                    <h4 class=" bg-title" >Day 19 : Bhavnagar / Mumbai</h4>
                                    <p class="">In the morning, sightseeing of Bhavnagar city. Transfer to airport to board a flight to Mumbai. Mumbai is the Gateway of India and the centre of world's largest and renowned film industry commonly called Bollywood. Overnight in Mumbai.</p>
                                    <h4 class=" bg-title" >Day 20 : Mumbai</h4>
                                    <p class="">In the morning take a cruise in the Arabian Sea to see the world famous 7th century Elephanta Caves- Carved out of solid rock. The afternoon is free for independent activities or rest. Late evening transfer to Mumbai International airport</p>
                                    <h4 class=" bg-title" >Day 21 : Mumbai</h4>
                                    <p class="">Early morning board a flight to your outward destination.</p>
                                    
                                    
                                    
                                </div>
                            </div>
                 


                        </div>








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>