<div>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="page">
        <!-- ***site header html start*** -->
        <app-header></app-header>
        <main id="content" class="site-main">
            <section class="booking-inner-page">
                <!-- ***Inner Banner html start form here*** -->
                <div class="inner-banner-wrap">
                    <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                        <div class="container">
                            <div class="inner-banner-content">
                                <h1 class="page-title">KERALA BACKWATERS

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***Inner Banner html end here*** -->
                <div class="booking-section">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 primary right-sidebar">
                                <div class="price-table-summary">
                                    <h2 class="">07 Nights / 08 Days</h2>
                                   
                           
                                </div>
                                <div class="price-table-summary">
                                    <h4 class=" bg-title" >Day 01: 	Arrive Delhi </h4>
                            
                                    <p class=" text-justify">Arrive Delhi airport. After clearing immigration and custom formalities, you will be meet and greet by our company representative, traditional welcome garlanding. Transfer to hotel by AC transport. </p>
                                    
                                    
                                    
                                    <h4 class=" bg-title" >DAY 1 : ARRIVE COCHIN	</h4>
                                    <p class=" text-justify">Meeting and assistance on arrival at Cochin by our representative.</p>
                                        <p class=" text-justify"><b>Cochin</b><br>
                                    This attractive city has served as a popular port for over 600 years and is known for its eclectic architecture and its array of religious monuments, museums, galleries, cafes and antique shops. The city stretches across a number of peninsulas and islands, which can be reached by a network of water taxis and bridges. The majority of Kochis visitor highlights can be found on the peninsula of Fort Kochi. These highlights include the St Francis Church, the oldest European-built church in India; and Mattancherry Palace, which dates back to 1557 and contains some exceptional Kerala murals and temple art. 
                                    </p>
                                        <p class=" text-justify">Overnight stay at hotel.</p> 
                                    
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="booking-form-wrap">
                                        <div class="booking-form-inner primary-bg">
                                            <h3>BOOKING FORM</h3>
                                            <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent
                                                magnis, eius cumque.</p>
                                            <form method="get" class="booking-form">
                                                <p>
                                                    <input type="text" name="name" placeholder="Your Name...">
                                                </p>
                                                <p>
                                                    <input type="email" name="email" placeholder="Your Email...">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkin Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666524">
                                                </p>
                                                <p class="width-5">
                                                    <label>Checkout Date</label>
                                                    <input class="input-date-picker hasDatepicker" type="text" name="s"
                                                        placeholder="MM / DD / YY" autocomplete="off"
                                                        readonly="readonly" id="dp1671106666525">
                                                </p>
                                                <p>
                                                    <button type="submit" class="outline-btn outline-btn-white">BOOK
                                                        NOW</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    

                        

                        <div class="price-table-summary">
                           
                            <div class="price-table-summary">
                               
                                
                          
                                <h4 class=" bg-title" >DAY 2 : COCHIN	</h4>
                                <p class=" text-justify">Breakfast at hotel.</p>
                                    <p class=" text-justify">Morning sightseeing Cochin - visit The Dutch Palace - at Mattancherry, Fort Kochi, Chinese fishing nets &amp; Jewish Synagogue</p>
                                    <p class=" text-justify">Lunch at local restaurant.</p>
                                    <p class=" text-justify">Evening watch Kathakali Show.</p>
                                    <p class=" text-justify">Dinner at Local restaurant.</p>
                                    <p class=" text-justify">Overnight at hotel.</p>
                                <h4 class=" bg-title" >DAY 3 COCHIN/THEKKADY</h4>
                                <p class=" text-justify">	Breakfast at hotel.</p>
                                    <p class=" text-justify">Morning drive to Thekkady (185 kms / 05 hrs).</p>
                                    <p class=" text-justify"><b>Thekkady</b><br>
                                A tourist attraction in Kerala, Thekkady is a district located at the Periyar National Park. Thekkady comprises of evergreen forests and savanna grass lands. This area is known for its natural spices such as black pepper, cardamom, cinnamon, nutmeg, ginger and clove. Wild life creatures found in this region include elephants, tigers and sambar to name a few.
                                </p><p class=" text-justify">
                                    On arrival, transfer to Hotel.</p>
                                    <p class=" text-justify">Lunch at Hotel.</p>
                                    <p class=" text-justify">Rest day at leisure.</p>
                                    <p class=" text-justify">Dinner &amp; overnight stay at hotel.</p>
                                <h4 class=" bg-title" >DAY 4 : THEKKADY</h4>
                                    <p class=" text-justify">Early mornfPoppinsing a leisurely guided jungle walk in the reserve.</p>
                                    <p class=" text-justify">Back to Hotel and have breakfast.</p>
                                    <p class=" text-justify">Later have lunch at hotel.</p>
                                    <p class=" text-justify">Later during afternoon enjoy boat cruise on the man-made lake on your own. </p>
                                    <p class=" text-justify">Visit Spice Plantation.</p>
                                    <p class=" text-justify">Dinner &amp; overnight stay at houseboat.</p>
                                <h4 class=" bg-title" >DAY 5 : THEKKADY/ALLEPPAY</h4>
                                    <p class=" text-justify">Breakfast at houseboat.</p>
                                    <p class=" text-justify">Morning transfer to Alleppey. (155 Kms/03 hrs)</p>
                                    <p class=" text-justify"><b>Alleppey</b><br>
                                Commonly known as Alleppey, the Alappuzha district is a tourist destination of Kerala, with the backwaters being its popular tourist attraction. Tourists often explore this region through various houseboat cruises. This area is also known as the 'Venice of the East' as its a region featuring canals, backwaters, beaches and lagoons.
                                </p>
                                    <p class=" text-justify">Transfer to Houseboat.</p>
                                    <p class=" text-justify">Lunch at houseboat.</p>
                                    <p class=" text-justify">Cruise at Backwaters</p>
                                    <p class=" text-justify">Dinner &amp; overnight stay at houseboat.</p>
                                <h4 class=" bg-title" >DAY 6 : ALLEPPAY/KOVALAM</h4>
                                <p class=" text-justify">	Breakfast at hotel.</p>
                                    <p class=" text-justify">Morning breakfast at Houseboat. </p>
                                    <p class=" text-justify">Disembark private House Boat and drive to Kovalam (145 kms/03 hrs)</p>
                                    <p class=" text-justify"><b>Kovalam</b><br>
                                Conveniently located only 16 km from the city of Thiruvananthapuram, Kovalam is a small but well-developed tourist village on the coast of the southern Indian state of Kerala. This busy little beach town is renowned for its exquisite palm-lined surf beaches including the well-known Lighthouse Beach, which is lined with an array of excellent hotels, restaurants and shops, and features a striped lighthouse at its southern end. The village attracts countless surfers with its thriving surf culture, excellent waves, and popular surf club. Other activities on offer include enjoying wonderfully relaxing Ayurvedic massages, sampling the delicious local seafood, sightseeing in the surrounding area, and indulging in a range of exhilarating water sports.
                                </p>
                                    <p class=" text-justify">On arrival transfer to hotel.</p>
                                    <p class=" text-justify">Lunch at hotel.</p>
                                    <p class=" text-justify">Dinner &amp; overnight stay at hotel.</p>
                                <h4 class=" bg-title" >DAY 7 : KOVALAM</h4>
                                    <p class=" text-justify">Breakfast at hotel.</p>
                                    <p class=" text-justify">Day at leisure to enjoy the beach. </p>
                                    <p class=" text-justify">Lunch at hotel.</p>
                                    <p class=" text-justify">Dinner &amp; overnight stay at hotel.</p>
                                <h4 class=" bg-title" >DAY 8 : DEPARTURE KOVALA/TRIVENDRUM	</h4>
                                <p class=" text-justify">Breakfast at hotel.</p>
                                    <p class=" text-justify">Morning drive to Trivendrum (15 kms / 30min).</p>
                                    <p class=" text-justify">Transfer to Trivandrum airport to connect for your onward Domestic or return International flight as applicable.</p>
                                <p class=" text-justify"><b>End of the Tour</b></p>
                                
                                
                                           </div>
                           
                                </div>
                       
                        
                   








                    </div>




                </div>
            </section>
        </main>
        <!-- ***site footer html start form here*** -->
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="upper-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                                    </div>
                                    <div class="textwidget widget-text">
                                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin
                                        fringilla, praesentium magna conubia at perferendis, pretium, aenean aut
                                        ultrices.
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_latest_post widget-post-thumb">
                                    <h3 class="widget-title">RECENT POST</h3>
                                    <ul>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img21.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="post-thumb">
                                                <a href="blog-archive.html"><img src="assets/images/img22.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="post-content">
                                                <h6>
                                                    <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                                </h6>
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <a href="blog-archive.html">February 17, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget widget_text">
                                    <h3 class="widget-title">CONTACT US</h3>
                                    <div class="textwidget widget-text">
                                        <p>Feel free to contact and<br /> reach us !!</p>
                                        <ul>
                                            <li>
                                                <a href="tel:+01988256203">
                                                    <i aria-hidden="true" class="icon icon-phone1"></i>
                                                    +01(988) 256 203
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailtop:info@domain.com">
                                                    <i aria-hidden="true" class="icon icon-envelope1"></i>
                                                    info@domain.com
                                                </a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                                3146 Koontz, California
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title">Gallery</h3>
                                    <div class="gallery gallery-colum-3">
                                        <figure class="gallery-item">
                                            <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img21.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img22.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img23.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img24.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img25.jpg" alt="">
                                            </a>
                                        </figure>
                                        <figure class="gallery-item">
                                            <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                                <img src="assets/images/img26.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="footer-newsletter">
                                    <p>Subscribe our newsletter for more update & news !!</p>
                                    <form class="newsletter">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li>
                                            <a href="policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="policy.html">Term & Condition</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- ***site footer html end*** -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- ***custom search field html*** -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- ***custom search field html*** -->
        <!-- ***custom top bar offcanvas html*** -->
        <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
                <div class="offcanvas-sidebar">
                    <aside class="widget author_widget">
                        <h3 class="widget-title">OUR PROPRIETOR</h3>
                        <div class="widget-content text-center">
                            <div class="profile">
                                <figure class="avatar">
                                    <img src="assets/images/img21.jpg" alt="">
                                </figure>
                                <div class="text-content">
                                    <div class="name-title">
                                        <h4> James Watson</h4>
                                    </div>
                                    <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore
                                        optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p>
                                </div>
                                <div class="socialgroup">
                                    <ul>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                        <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget_text text-center">
                        <h3 class="widget-title">CONTACT US</h3>
                        <div class="textwidget widget-text">
                            <p>Feel free to contact and<br /> reach us !!</p>
                            <ul>
                                <li>
                                    <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                    </a>
                                </li>
                                <li>
                                    <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                    </a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                    3146 Koontz, California
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <a href="#" class="offcanvas-close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- ***custom top bar offcanvas html*** -->
    </div>



</div>