
   <div>
    <div id="siteLoader" class="site-loader">
       <div class="preloader-content">
          <img src="assets/images/loader1.gif" alt="">
       </div>
    </div>
    <div id="page" class="page">
       <!-- ***site header html start*** -->
       <app-header></app-header>
       <main id="content" class="site-main">
          <section class="booking-inner-page">
             <!-- ***Inner Banner html start form here*** -->
             <div class="inner-banner-wrap">
                <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                   <div class="container">
                      <div class="inner-banner-content">
                         <h1 class="page-title">Amazing Temple Tour</h1>
                      </div>
                   </div>
                </div>
             </div>
             <!-- ***Inner Banner html end here*** -->
             <div class="booking-section">
             
                <div class="container">
                    <div class="row">
                       <div class="col-lg-8 primary right-sidebar">
                        <div class="price-table-summary">
                            <h2 class="">Mumbai – Bangalore – Mysore – Hassan – Hospet – Hampi – Badami – Belgam – Pune – Aurangabad – Mumbai </h2>
                            <ul class="lstl fPoppins">
                                <li>  09 Nights / 10 Days</li>
                                
                                </ul>
                          
                         </div>
                         <div class="price-table-summary">
                            <h4 class="bg-title">Day 01: Arrival Mumbai </h4>
                           <p>Arrive Mumbai airport. Upon arrival welcome garlanding. Transfer to hotel by AC transport.
                               <b> Overnight at hotel.</b>
                           </p>
                          
                         </div>
                         
                       </div>
                       <div class="col-lg-4">
                          <div class="sidebar">
                             <div class="booking-form-wrap">
                                <div class="booking-form-inner primary-bg">
                                   <h3>BOOKING FORM</h3>
                                   <p>Malesuada incidunt excepturi proident quo eros? Sinterdum praesent magnis, eius cumque.</p>
                                   <form method="get" class="booking-form">
                                      <p>
                                         <input type="text" name="name" placeholder="Your Name...">
                                      </p>
                                      <p>
                                         <input type="email" name="email" placeholder="Your Email...">
                                      </p>
                                      <p class="width-5">
                                         <label>Checkin Date</label>
                                         <input class="input-date-picker hasDatepicker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly" id="dp1671106666524">
                                      </p>
                                      <p class="width-5">
                                         <label>Checkout Date</label>
                                         <input class="input-date-picker hasDatepicker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly" id="dp1671106666525">
                                      </p>
                                      <p>
                                         <button type="submit" class="outline-btn outline-btn-white">BOOK NOW</button>
                                      </p>
                                   </form>
                                </div>
                             </div>
                            
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 02: Mumbai / Bangalore by flight </h4>
                             <P>
                                Morning packed breakfast, transfer to airport to board flight for Bangalore. Upon arrival visit Tipu Palace, Botanical Garden – it has over 1000 species of flora. The Glass House is the center of attraction in this 2400-acre park. The ancient ruler Hyder Ali laid it out and later his son added horticultural wealth to them by importing trees and plants from several countries.. Vidhan Sudha- his splendid building is a marvel of modern architecture and is a perfect amalgamation of traditional neo-Dravidian and modern styles. It is the home of the State Legislature and the Secretariat and dominates the northern boundary of the Cubbon Park.

                                            After lunch drive to Mysore (160 Kms/04 hrs). En route visit Srirangapatnam. Upon Arrival check in at hotel.

                                            <b>Overnight stay at hotel.</b>
                             </P> 
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at1.jpg" alt=""></div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 03: Mysore – Hassan (115 Kms/03 Hrs) </h4>
                             <P>Morning after breakfast visit Mysore Palace - Mysore Palace is known, is an excellent combination of Dravidian, Indo-Saracenic, Oriental and Roman styles of architecture. The Maharaja's Palace is a beautiful three storied stone building of fine gray granite and rich pink marble domes. Later visit Jagmohan art gallery. Visit Chamundi Devi Temple.

                                After lunch drive to Hassan, This city was earlier named Simhasanapura and with time this name got abridged to Hassan. Arrive Hassan and check in at hotel.
                                            <b>Overnight stay at hotel.</b>
                             </P> 
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at2.jpg" alt=""></div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 04: Hassan – Hospet (350 Kms/ 08 Hrs) </h4>
                             <P>Morning after breakfast visit Shravanbelgola - one of most important Jain Pilgrim centers. Here is the 17m high monolith of Lord Bahubali – the world's tallest monolithic statue. Later drive to Hospet enroute visit Halebid and Belur - flourished under the Hoysala Kings 800 years ago and the sole reminder of this grandeur is the Chennakesava Temple. The temple stands in perfect state of preservation and is an outstanding testament to the skill of Hoysala craftsmen. Its polished black stone exterior is profusely carved with scenes from the epics, each figure sculpted with fine detail. Famous of them is The Channekeshava Temple: which took 103 years to complete.

                                The temples of Halebid bear mute testimony to the rich, cultural heritage of Karnataka. Also visit Keddareshwara temple. Arrive Hospet and check in at hotel.
                                 <b>Overnight stay at hotel.</b>
                             </P> 
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at3.jpg" alt=""></div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 05: Hospet – Hampi (20 Ksms/01 hr) </h4>
                             <P>Morning after breakfast visit Hoysaleshwara temple, standing on platform like a casket, is a sculptural extravaganza, richly endowed with most finely detailed scrollwork in stone. The ruins of Hampi spread over 26 sq. km. include temples, palaces, baths and pavilions. The sculptured Hazara Rama once the King’s private place of worship, the great hall, elephant stables, the Queen’s bath, a huge and mutilated Narasimha image and a sculptured stone chariot are some sights in this ghostly capital of departed glory.
                                  <b>Overnight stay at hotel.</b>
                             </P> 
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at4.jpg" alt=""></div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 06: Hampi/Badami/Belgam</h4>
                             <P>Morning after breakfast drive to Badami - Once known as Vatapi. Badami lies between two hills and is dominated by a fort, the walls of which rise up from the cliffs. The natural gorge embellished with temples and gateways, leading to this hill city, is one of the attractions of Badami. The cave temples of Badami were hewn out of solid rocks some as early as 550 AD. One of the masterpieces in these temples is the well known 18-armed Nataraja (Shiva). Four Caves out of which 3 are Brahamanical temple and 1 is Jai n temple.
                              <br>
                                Later drive to Belgam (150 kms/03 hrs). Arrive Belgaum. And check in at hotel. 
                                <b>Overnight stay at hotel.</b>
                             </P> 
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at5.jpg" alt=""></div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 07: Belgaum/ Pune (336Kms/08 Hrs)</h4>
                             <P>Morning after breakfast visit Fort. Fort is the main attraction in Belgaum. Inside the fort are located several interesting monuments, these include temples, basadis and mosques. At the entrance of the fort are two temples dedicated to Ganapati and Durga. Belgaum has some important mosques and churches also Francis Gell, this imposing stone church has fine piers in the prayer hall and gorgeous stained glasses at its doors and windows. In front of the west porch almost at the meeting of the four chief Cantonment roads, stands a lofty memorial cross raised in memory of the 64th Regiment soldiers who fell in the 1857 mutiny. Later drive to Pune. Enroute lunch. Arrive Pune and check in at hotel.
                             </P> 
                             <b>Overnight stay at hotel.</b>
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at6.jpg" alt=""></div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 08: Pune/Aurangabad (214 Kms/04 hrs)</h4>
                             Morning after breakfast, drive to Aurangabad.

                                Arrive and check in at hotel. After lunch Visit Ajanta Caves. Ajanta caves: Nestling in an inner fold of the Sahyardi hills, 100 km from Aurangabad in the shape of a mammoth horse- shoe, are the 30 rock-hewn caves of Ajanta. The Caves date from the 2nd century BC. Discovered in 1819 by a group of British army officers, these startling achievements took around 600 years to create. Carved with little more than a hammer and chisel, Ajanta, once the retreat of Buddhist monastic orders features several 'chaityas' (chapels) and 'viharas' (monasteries).
                                <br>
                                Return to Aurangabad and overnight will be at Aurangabad.
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at7.jpg" alt=""></div>
                     </div>
                     <div class="row">
                     
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">Day 09: Aurangabad/Ellora/Arungabad/Mumbai by flight.</h4>
                             <P>Morning after breakfast, visit Daulatabad Fort and Ellora Caves.
                                                <br>
                                Ellora Caves: Impressive in their own right is the rock-hewn temples and monasteries of Ellora that lie just 30 km away from Aurangabad city. In all, there are 34 cave temples, 12 Mahayana Buddhist caves (550-750 AD), 17 Hindu caves (600-875 AD) and 5 caves of the Jain faith (800-1000 AD) 22 more caves, dedicated to Lord Shiva, were recently discovered. Kailas Temple (cave16), the central attraction at Ellora, is the most remarkable. Chiseled by hand from a single massive rock, it includes a gateway, pavilion, courtyard, vestibule, sanctum, sanctorum and tower which bear testimony to the excellence of Dravidian art. It is believed to have taken 7000 laborers, working in continuous shifts and 150 years to build.
                                <BR>
                                Later drop at airport to board flight for Mumbai. Upon arrival Mumbai have dinner at local Chinese restaurant.</P> 
                            <BR> <b>Overnight stay at hotel.</b>
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at8.jpg" alt=""></div>
                     </div>
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                         <div class="price-table-summary">
                             <h4 class="bg-title">DAY 10: Mumbai/Depart</h4>
                             Morning after breakfast, visit Gateway of India. Elephanta Caves, known for its great cave shrine, excavated in the 6th century. The island is easily accessible by ferry from Gateway of India.
                             <br>
                             Afternoon visit Victoria terminus, Prince of Wales museum crowned by a sparkling white dome. It boasts a good collection of ancient Indus Valley artifacts dating back to 2000 BC, plus some priceless Tibetan and Nepali Art. There is an entire gallery devoted to Buddhist tankha scrolls and another to Tibetan bronzes, but the chief attraction here is the collection of over 2000 miniature paintings from the various art schools of India. Evening visit Marine drive and enjoy on Juhu beach.
                             <br>
                             After dinner transfer at international airport to board flight for onward destination. <br>
                                Return to Aurangabad and overnight will be at Aurangabad.
                                
                           
                          </div>
                          
                          
                        </div>
                        <div  class="col-lg-4"><img  src="assets/images/tr_at9.jpg" alt=""></div>
                     </div>
                 </div>
          </div>
          </section>
       </main>
       <!-- ***site footer html start form here*** -->
       <footer id="colophon" class="site-footer footer-primary">
          <div class="top-footer">
             <div class="container">
                <div class="upper-footer">
                   <div class="row">
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <div class="footer-logo">
                               <a href="index.html"><img src="assets/images/site-logo.png" alt=""></a>
                            </div>
                            <div class="textwidget widget-text">
                               Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium magna conubia at perferendis, pretium, aenean aut ultrices.
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_latest_post widget-post-thumb">
                            <h3 class="widget-title">RECENT POST</h3>
                            <ul>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img21.jpg" alt=""></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                               <li>
                                  <figure class="post-thumb">
                                     <a href="blog-archive.html"><img src="assets/images/img22.jpg" alt=""></a>
                                  </figure>
                                  <div class="post-content">
                                     <h6>
                                        <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                     </h6>
                                     <div class="entry-meta">
                                        <span class="posted-on">
                                           <a href="blog-archive.html">February 17, 2022</a>
                                        </span>
                                     </div>
                                  </div>
                               </li>
                            </ul>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget widget_text">
                            <h3 class="widget-title">CONTACT US</h3>
                            <div class="textwidget widget-text">
                               <p>Feel free to contact and<br/> reach us !!</p>
                               <ul>
                                  <li>
                                     <a href="tel:+01988256203">
                                        <i aria-hidden="true" class="icon icon-phone1"></i>
                                        +01(988) 256 203
                                     </a>
                                  </li>
                                  <li>
                                     <a href="mailtop:info@domain.com">
                                        <i aria-hidden="true" class="icon icon-envelope1"></i>
                                        info@domain.com
                                     </a>
                                  </li>
                                  <li>
                                     <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                     3146 Koontz, California
                                  </li>
                               </ul>
                            </div>
                         </aside>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                         <aside class="widget">
                            <h3 class="widget-title">Gallery</h3>
                            <div class="gallery gallery-colum-3">
                               <figure class="gallery-item">
                                  <a href="assets/images/img10.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img21.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img28.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img22.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img14.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img23.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img15.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img24.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img12.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img25.jpg" alt="">
                                  </a>
                               </figure>
                               <figure class="gallery-item">
                                  <a href="assets/images/img13.jpg" data-fancybox="gallery-1">
                                     <img src="assets/images/img26.jpg" alt="">
                                  </a>
                               </figure>
                            </div>
                         </aside>
                      </div>
                   </div>
                </div>
                <div class="lower-footer">
                   <div class="row align-items-center">
                      <div class="col-lg-6">
                         <div class="footer-newsletter">
                            <p>Subscribe our newsletter for more update & news !!</p>
                            <form class="newsletter">
                               <input type="email" name="email" placeholder="Enter Your Email">
                               <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                            </form>
                         </div>
                      </div>
                      <div class="col-lg-6 text-right">
                         <div class="social-icon">
                            <ul>
                               <li>
                                  <a href="https://www.facebook.com/" target="_blank">
                                     <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.twitter.com/" target="_blank">
                                     <i class="fab fa-twitter" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.youtube.com/" target="_blank">
                                     <i class="fab fa-youtube" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.instagram.com/" target="_blank">
                                     <i class="fab fa-instagram" aria-hidden="true"></i>
                                  </a>
                               </li>
                               <li>
                                  <a href="https://www.linkedin.com/" target="_blank">
                                     <i class="fab fa-linkedin" aria-hidden="true"></i>
                                  </a>
                               </li>
                            </ul>
                         </div>
                         <div class="footer-menu">
                            <ul>
                               <li>
                                  <a href="policy.html">Privacy Policy</a>
                               </li>
                               <li>
                                  <a href="policy.html">Term & Condition</a>
                               </li>
                               <li>
                                  <a href="faq.html">FAQ</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="bottom-footer">
             <div class="container">
                <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
             </div>
          </div>
       </footer>
       <!-- ***site footer html end*** -->
       <a id="backTotop" href="#" class="to-top-icon">
          <i class="fas fa-chevron-up"></i>
       </a>
       <!-- ***custom search field html*** -->
       <div class="header-search-form">
          <div class="container">
             <div class="header-search-container">
                <form class="search-form" role="search" method="get" >
                   <input type="text" name="s" placeholder="Enter your text...">
                </form>
                <a href="#" class="search-close">
                   <i class="fas fa-times"></i>
                </a>
             </div>
          </div>
       </div>
       <!-- ***custom search field html*** -->
       <!-- ***custom top bar offcanvas html*** -->
       <div id="offCanvas" class="offcanvas-container">
          <div class="offcanvas-inner">
             <div class="offcanvas-sidebar">
                <aside class="widget author_widget">
                   <h3 class="widget-title">OUR PROPRIETOR</h3>
                   <div class="widget-content text-center"> 
                      <div class="profile"> 
                         <figure class="avatar"> 
                            <img src="assets/images/img21.jpg" alt=""> 
                         </figure> 
                         <div class="text-content"> 
                            <div class="name-title"> 
                               <h4> James Watson</h4> 
                            </div> 
                            <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p> 
                         </div> 
                         <div class="socialgroup"> 
                            <ul> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li> 
                               <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li> 
                            </ul> 
                         </div> 
                      </div> 
                   </div>
                </aside>
                <aside class="widget widget_text text-center">
                   <h3 class="widget-title">CONTACT US</h3>
                   <div class="textwidget widget-text">
                      <p>Feel free to contact and<br/> reach us !!</p>
                      <ul>
                         <li>
                            <a href="tel:+01988256203">
                               <i aria-hidden="true" class="icon icon-phone1"></i>
                               +01(988) 256 203
                            </a>
                         </li>
                         <li>
                            <a href="mailtop:info@domain.com">
                               <i aria-hidden="true" class="icon icon-envelope1"></i>
                               info@domain.com
                            </a>
                         </li>
                         <li>
                            <i aria-hidden="true" class="icon icon-map-marker1"></i>
                            3146 Koontz, California
                         </li>
                      </ul>
                   </div>
                </aside>
             </div>
             <a href="#" class="offcanvas-close">
                <i class="fas fa-times"></i>
             </a>
          </div>
          <div class="overlay"></div>
       </div>
       <!-- ***custom top bar offcanvas html*** -->
    </div>


   
 </div>
